@import "~styles/utils/modules-entry";

// Single element loader style from https://github.com/lukehaas/css-loaders
// loader-8 with modifications
.loader,
.loader::after {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.loader {
  position: relative;
  margin: 4rem auto;
  border: 0.4rem solid rgba(theme-color(), 0.2);
  border-left-color: rgba(theme-color(), 1);
  transform: translateZ(0);

  :global {
    animation: spin 1.1s infinite linear;
  }
}
