@import "~styles/utils/modules-entry.scss";

/*
  Remove scroll on the body when react-modal is open
  Link: https://github.com/reactjs/react-modal#body-class
*/
:global(.ReactModal__Body--open) {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  max-width: 40rem;
  max-height: calc(90%);
  padding: 1rem;
  margin: 0 auto;
  overflow: auto;
  background: var(--body-bg);
  box-shadow: 0 6px 24px rgba(#000, 0.18);

  @include media-breakpoint-up(md) {
    top: 10%;
    padding: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-z-index;
  overflow-y: hidden;
  background: var(--body-bg-70);
}
