@import "~styles/utils/modules-entry.scss";

.modal {
  position: absolute;
  top: 10%;
  right: 1rem;
  left: 1rem;
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
  background: var(--body-bg);
  box-shadow: 0 6px 24px rgba(#000, 0.18);

  @include media-breakpoint-down(sm) {
    top: 4rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-z-index;
  background: var(--body-bg-70);
}
