@import '~styles/utils/modules-entry';
$input-height: 2.75rem;
$module-list-height: 13.5rem;

.container {
  position: relative;
}

.isOpen {
  @include media-breakpoint-down(sm) {
    position: fixed;
    top: $navbar-height;
    right: 0;
    left: 0;
    z-index: $modal-z-index;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--body-bg);
  }
}

.input {
  composes: form-control from global;
  height: $input-height;

  // Remove bootstrap's box-shadow
  &:global(.form-control):focus {
    box-shadow: none;
  }
}

.close {
  composes: close from global;
  position: absolute;
  top: 0;
  right: 0;
  width: $input-height;
  height: $input-height;
}

.selectList {
  max-height: calc(100% - #{$navbar-height});
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  list-style: none;
  border: $input-btn-border-width solid $input-border-color;
  border-width: 0 $input-btn-border-width $input-btn-border-width;
  border-radius: 0 0 $btn-border-radius $btn-border-radius;
  -webkit-overflow-scrolling: touch;
  @include media-breakpoint-up(sm) {
    position: absolute;
    top: $input-height;
    right: 0;
    left: 0;
    z-index: $module-select-z-index;
    max-height: $module-list-height;
    overflow-y: auto;
  }
}

.item {
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: 0.9rem;
  color: var(--body-color);
  background: var(--body-bg);
}

.option {
  composes: item;
  cursor: pointer;
  touch-action: manipulation;
}

.optionSelected {
  color: $link-hover-color;
  background: var(--gray-lightest);
}

.optionDisabled {
  display: flex;
  justify-content: space-between;
  color: var(--gray-light);
  cursor: default;
}
