@import "~styles/utils/modules-entry.scss";

.searchBox {
  position: sticky;
  top: $navbar-height;
  z-index: $module-finder-search-z-index;
  padding: 0 0 1rem;
  background: linear-gradient(to bottom, $body-bg 3rem, rgba($body-bg, 0));

  input {
    padding: 0.8rem 1rem;
    border-width: 0 0 1px;
    border-radius: 0;
  }

  @include media-breakpoint-down(sm) {
    top: $navbar-height * 2;
    padding: 0 0 0.4rem;
    margin: -1rem (-$grid-gutter-width / 2) 0;
    border-top: 1px solid mix(#000, $body-bg, 15);
    background: linear-gradient(to bottom, $body-bg 2rem, rgba(#000, 0.5) 2rem, rgba(#000, 0));

    input {
      padding: 0.8rem ($grid-gutter-width / 2);
      font-size: 1rem;
      border: 0;
    }
  }
}
