@import 'bootstrap/bootstrap';

// 3rd-party imports
@import '~react-virtualized/styles.css';
@import 'vendor/react-select';
@import '~react-select/dist/react-select.css';
@import '~react-virtualized-select/styles.css';
@import "material/material";

@import 'constants';

// Utils
@import 'utils/mixins';
@import 'utils/functions';
@import 'utils/animations';
@import 'utils/workload';
@import 'utils/themes';
@import 'utils/css-variables';
@import 'utils/bootstrap-override';

// Layout
@import 'layout/site';
@import 'layout/nav';
@import 'layout/footer';

// Components
@import 'components/loading-spinner';
@import 'components/timeslot-table';
@import 'components/module-workload';
@import 'components/sentry';
@import 'components/buttons';

// Pages
@import 'pages/modules';
@import 'pages/module-finder';
@import 'pages/settings';
