@import 'bootstrap/bootstrap';

// 3rd-party imports
@import '~react-virtualized/styles.css';
@import 'vendor/react-select';
@import '~react-select/dist/react-select.css';
@import '~react-virtualized-select/styles.css';

@import 'constants';

// Utils
@import 'utils/hacks';
@import 'utils/mixins';
@import 'utils/animations';
@import 'utils/workload';

// Theme
@import 'themes';

// Layout
@import 'layout/site';
@import 'layout/nav';
@import 'layout/footer';

// Components
@import 'components/loading-spinner';

// Pages
@import 'pages/timetable';
@import 'pages/modules';
@import 'pages/module-finder';
@import 'pages/settings';
