<div class="row">
  <div class="col-md-8 col-md-offset-2" id="contribute">
    <h1 class="nm-page-heading">Contributing</h1>
    <hr>
    <p class="nm-text-medium">NUSMods is an 100% open source project that relies on the continuous support of its individual contributors and NUS student community. We hope to involve more developers and contributors in making NUSMods even better. Please reach out to us if you are interested in helping!
    <p class="nm-text-medium">Join us and make NUS a better place for its students (your friends)!</p>
    <br>
    <div class="row">
      <div class="col-md-6 text-center">
        <h3><i class="fa fa-code fa-3x"></i></h3>
        <h3><a href="/contribute/developers">Developers</a></h3>
        <p class="nm-text-medium">As the largest open source student initiative in National University of Singapore, we thrive on the support of the talented hacker community within the school. Many student hackers have reported issues, suggested improvements, or even better, write code and contribute patches!</p>
        <a class="nm-ct-btn btn btn-default nm-text-medium" href="/contribute/developers">Our awesome developers</a>
      </div>

      <div class="col-md-6 text-center">
        <h3><i class="fa fa-edit fa-3x"></i></h3>
        <h3><a href="/contribute/reviewers">Reviewers</a></h3>
        <p class="nm-text-medium">While planning our academic timetable, we often ask for first-hand recounts of the module experiences from our seniors and friends. Many helpful students of NUS have kindly shared their module experiences and reviewed their modules for the benefits of the student popoulation.</p>
        <a class="nm-ct-btn btn btn-default nm-text-medium" href="/contribute/reviewers">Our trusted reviewers</a>  
      </div>
    </div>
  </div>
</div>
