<div class="row">
  <div class="col-md-6 col-md-offset-3" id="contribute">
    <h1 class="nm-page-heading">Contributing</h1>
    <hr>
    <p>NUSMods is an open source project that relies on the continuous support of its individual contributors and NUS student community. We hope to involve more developers and contributors in making NUSMods even better. Please reach out to us if you are interested in helping!
    <p>Check out the cool people that have contributed to NUSMods:</p>
    <br>
    <div class="row">
      <a class="nm-ct-btn col-md-4" href="/contribute/developers">
        <button class="btn btn-default btn-lg">Developers</button>
      </a>
      <a class="nm-ct-btn col-md-4" href="/contribute/reviewers">
        <button class="btn btn-default btn-lg">Reviewers</button>
      </a>
    </div>
  </div>
</div>
