<div class="row nm-ct">
  <div class="col-md-8 col-md-offset-2" id="developers">
    <h1 class="nm-page-heading">Developers</h1>
    <hr>
    <p class="nm-text-medium">As the largest open source student initiative in National University of Singapore, we thrive on the support of the talented hacker community within the school. Many student hackers have reported issues, suggested improvements, or even better, write code and contribute patches!</p>
    <br>
    <div class="nm-ct-devs-container">
    </div>
  </div>
</div>
