@import '~styles/utils/modules-entry';

$icon-size: $font-size-lg;
$input-width: 14rem;
$input-width-lg: 18rem;
$results-width-open: 21rem;
$results-width-open-lg: 34rem;
$container-vertical-margin: 0.3rem;
$container-padding: 0.5rem;
$dropdown-height: 40rem;

$container-height: $navbar-height - $container-vertical-margin * 2;
$internal-padding: ($container-height - $icon-size) / 2;

.container {
  composes: btn-svg from global;
  position: relative;
  font-size: 0.9rem;

  background-color: var(--gray-lightest);
  border-radius: $container-height / 2;
  margin: $container-vertical-margin $container-padding;

  border &:hover .icon {
    color: theme-color();
  }
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin: 0 $internal-padding;
  transition: all $desktop-entering-duration $material-deceleration-curve;

  &.iconOpen {
    color: theme-color();
  }
}

.input {
  position: relative;
  width: 0;
  height: 100%;
  padding: 0;

  border: 0;
  font-size: $font-size-s;
  color: var(--body-color);
  background: transparent;
  cursor: pointer;

  // Because .input is the "button" that opens the search, we extend input to
  // the left of icon so that it looks like the icon is clickable.
  $overhang: $icon-size + $internal-padding * 2;
  padding-left: $overhang;
  margin-left: -$overhang;

  &:focus {
    outline: none;
    background: transparent;
    box-shadow: none;
  }
}

.inputOpen {
  cursor: auto;

  width: $input-width;

  @include media-breakpoint-up(lg) {
    width: $input-width-lg;
  }
}

.resultsWidth {
  margin-right: $internal-padding;
  width: $results-width-open;

  @include media-breakpoint-up(lg) {
    width: $results-width-open-lg;
  }
}

.selectListContainer {
  position: absolute;
  top: $navbar-height;
  left: 0;
  z-index: $module-select-z-index;
  border: $input-btn-border-width solid $input-border-color;
  border-width: 0 $input-btn-border-width $input-btn-border-width;
  border-radius: 0 0 $btn-border-radius $btn-border-radius;
  color: var(--body-color);
  background: var(--body-bg);
}

.selectList {
  composes: list-unstyled scrollable-y from global;
  max-height: $dropdown-height;
  @media (max-height: $dropdown-height + 5rem) {
    max-height: calc(90vh - #{$navbar-height});
  }
}

.item {
  composes: resultsWidth;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem $container-padding;
  cursor: pointer;
}

.selectHeader {
  composes: item;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-lighter);
  font-size: 0.95rem;

  &.selected {
    > :global(.btn-svg) {
      color: theme-color();
    }

    .svg {
      transform: translateX(0.2rem);
    }
  }
}

.headerName {
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.svg {
  width: 1.1rem;
  height: 1.1rem;
  transition: $entering-duration transform $material-standard-curve;
}

.option {
  composes: item;

  &.selected {
    color: theme-color();
    background: var(--gray-lightest);
  }

  .semesters {
    flex: 0 0 auto;
    margin-right: 0.4rem;
  }
}

.noResults {
  composes: resultsWidth;
  text-align: center;

  p {
    margin-bottom: 0.4rem;
  }

  svg {
    opacity: 0.35;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
  }

  :global(.btn).selected {
    text-decoration: underline;
  }
}

.searchTerm {
  composes: h4 from global;
  display: block;
  white-space: normal;
}
