@import './nav-constants';

$results-width-open: 21rem;
$dropdown-height: 40rem;
$icon-horizontal-padding: ($container-height - $icon-size) / 2;

.container {
  composes: btn-svg from global;
  position: relative;
  width: 100%;
  max-width: $results-width-open;
  margin: $container-vertical-margin $container-horizontal-margin;
  font-size: 0.9rem;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin: 0 $icon-horizontal-padding;
  color: var(--gray-mid);
}

.input {
  // Extend input to the left of icon so that the icon is clickable.
  $overhang: $icon-size + $icon-horizontal-padding * 2;

  padding-left: $overhang;
  margin-left: -$overhang;
  border-radius: $corner-radius;
  font-size: $font-size-s;
  background: transparent;

  &:focus {
    background: transparent;
  }
}

.selectListContainer {
  position: absolute;
  top: $navbar-height - $container-vertical-margin;
  right: 0;
  z-index: $module-select-z-index;
  width: $results-width-open;
  border: $input-btn-border-width solid $input-border-color;
  border-width: 0 $input-btn-border-width $input-btn-border-width;
  border-radius: 0 0 $btn-border-radius $btn-border-radius;
  color: var(--body-color);
  background: var(--body-bg);
}

.selectList {
  composes: list-unstyled scrollable-y from global;
  max-height: $dropdown-height;
  @media (max-height: $dropdown-height + 5rem) {
    max-height: calc(90vh - #{$navbar-height});
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem $container-horizontal-margin;
  cursor: pointer;
}

.selectHeader {
  composes: item;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-lighter);
  font-size: 0.95rem;

  &.selected {
    > :global(.btn-svg) {
      color: theme-color();
    }

    .svg {
      transform: translateX(0.2rem);
    }
  }
}

.headerName {
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.svg {
  width: 1.1rem;
  height: 1.1rem;
}

.option {
  composes: item;

  &.selected {
    color: theme-color();
    background: var(--gray-lightest);
  }

  .semesters {
    flex: 0 0 auto;
    margin-right: 0.4rem;
  }
}

.noResults {
  text-align: center;

  p {
    margin-bottom: 0.4rem;
  }

  svg {
    opacity: 0.35;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
  }

  :global(.btn).selected {
    text-decoration: underline;
  }
}

.searchTerm {
  composes: h4 from global;
  display: block;
  white-space: normal;
}
