@import '~styles/utils/modules-entry.scss';

$vert-padding: 0.5rem;
// Keep padding at whole number, 0.875rem = 14px
// See: https://github.com/nusmodifications/nusmods/pull/1567
$logo-vert-padding: 0.875rem;

.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: $navbar-z-index;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  background: var(--body-bg);
  display: flex;
  justify-content: space-between;

  // Fake shadow - don't use box shadow as the sides will be lighter
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -$navbar-shadow-height;
    left: 0;
    height: $navbar-shadow-height;
    background: linear-gradient(to bottom, var(--navbar-shadow), rgba(#000, 0));
    pointer-events: none;
  }
}

.brand {
  display: flex;
  // Explicit width so the logo will not expand
  // to occupy the entire navbar
  width: 8.3rem;
  margin: $logo-vert-padding $grid-gutter-width/2 $logo-vert-padding $grid-gutter-width;
}

.brandLogo {
  width: 100%;
}

.navLeft {
  height: $navbar-height;
  display: flex;
  flex: 1 0 0;
}

.navCenter {
  height: $navbar-height;
}

.navRight {
  height: $navbar-height;
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
}

.weekText {
  padding-left: $grid-gutter-width/2;
  font-size: $font-size-xs;
  line-height: 1.15;
  text-align: right;
}

@include media-breakpoint-down(sm) {
  .navbarWrapper {
    top: -$navbar-height;
    flex-wrap: wrap;
  }

  .navLeft {
    order: 0;
    flex: unset;
  }

  .navCenter {
    order: 2;
    width: 100%;
  }

  .navRight {
    order: 1;
    flex: unset;
  }

  .brand {
    flex: 1;
    margin: $logo-vert-padding 0 $logo-vert-padding $grid-gutter-width/2;
  }
}

// @include media-breakpoint-up(xl) {
// .brand {
//   // Padding to match navtab left padding
//   padding-left: 2rem;
// }

// .navRight {
//   padding: $vert-padding $grid-gutter-width/2 $vert-padding 2rem;
// }
// }
