@import '~styles/utils/modules-entry.scss';

// Keep padding at whole number, 0.875rem = 14px
// See: https://github.com/nusmodifications/nusmods/pull/1567
$logo-vert-padding: 0.875rem;

.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: $navbar-z-index;
  display: flex;
  justify-content: space-between;
  padding: 0; // For Microsoft Edge 18
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  background: var(--body-bg);

  // Fake shadow - don't use box shadow as the sides will be lighter
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -$navbar-shadow-height;
    left: 0;
    height: $navbar-shadow-height;
    background: linear-gradient(to bottom, var(--navbar-shadow), rgba(#000, 0));
    pointer-events: none;
  }
}

.brandLogo {
  // Explicit width so the logo will not expand
  // to occupy the entire navbar
  width: 11rem; // Eyeballed number
  height: 100%;
  padding: $logo-vert-padding $grid-gutter-width/2 $logo-vert-padding $grid-gutter-width;
}

.navLeft {
  display: flex;
  flex: 1 0 0;
  height: $navbar-height;
}

.navCenter {
  height: $navbar-height;
}

.navRight {
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
  height: $navbar-height;
  padding-right: $grid-gutter-width;
}

.weekText {
  padding-left: $grid-gutter-width/2;
  font-size: $font-size-xs;
  line-height: 1.15;
  text-align: right;
}

@include media-breakpoint-down(sm) {
  .navbarWrapper {
    top: -$navbar-height;
    flex-wrap: wrap;
  }

  .navLeft {
    flex: unset;
    order: 0;
  }

  .navCenter {
    order: 2;
    width: 100%;
  }

  .navRight {
    flex: unset;
    order: 1;
    padding-right: $grid-gutter-width / 2;
  }

  .brandLogo {
    width: 9rem; // Eyeballed number
    padding: $logo-vert-padding 0 $logo-vert-padding $grid-gutter-width/2;
  }
}
