@import '~styles/utils/modules-entry';
@import './nav-constants';

.container {
  position: relative;
  display: flex;
  margin: $container-vertical-margin $container-horizontal-margin;

  :global(.dropdown-divider) {
    border-top-color: var(--gray-lighter);
  }
}

.toggle {
  position: relative;
  // Ensure .toggle is a circle by setting width. Its height should already be
  // equal to $container-height.
  width: $container-height;
  padding: 0;
  border-radius: $corner-radius;
  font-size: 0.9rem;

  &:hover {
    background-color: var(--gray-lightest);
  }

  &:focus {
    border-color: theme-color(primary);
  }
}

.buttonIcon {
  width: $icon-size;
  height: $icon-size;
  margin: 0;
  color: var(--gray-mid);
}

.dropdownMenu {
  right: 0;
  left: auto;
  width: 16rem;
  // Prevent dropdown (including its bottom shadow) from going below the screen's bottom edge.
  max-height: calc(100vh - #{$navbar-height} - 0.5rem);
  padding: 0.4rem;
  margin-top: $container-vertical-margin;
  color: var(--body-color);

  .item {
    padding: 0.375rem 0.75rem;
  }

  .selectable {
    border-radius: 0.25rem;

    .itemContents {
      display: flex;
      align-items: center;

      .leftIcon {
        width: $icon-size;
        height: $icon-size;
        margin-right: 0.4rem;
      }

      .rightContent {
        margin-left: auto;

        &.rightContentIcon {
          width: $icon-size * 0.75;
          height: $icon-size * 0.75;
          color: var(--gray-mid);
        }
      }
    }

    &:hover {
      color: var(--body-color);

      .itemContents {
        .rightContent {
          &.rightContentIcon {
            color: unset;
          }
        }
      }
    }

    &:focus {
      .itemContents {
        .rightContent {
          &.rightContentIcon {
            color: unset;
          }
        }
      }
    }

    &:active {
      color: $dropdown-link-active-color;
      background-color: theme-color(primary);

      .itemContents {
        .rightContent {
          &.rightContentIcon {
            color: unset;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-sm;
  }
}
