@import '~styles/utils/modules-entry.scss';
@import './nav-constants';

$divider-margin: 0.3rem;

/*
  For breakpoint-md (tablets), show the links as compact buttons with labels below icons.
  For breakpoint-lg (desktop), show the links as traditional link with icon to the left.
  TODO: UPDATE COMMENT
*/
.nav {
  // z-index: $navtabs-z-index; // TODO: Remove from main z-index list if no longer neeedd
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: $navtab-height;
  margin: 0 auto;
}

.link {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--gray-light);
  width: 4rem;
  margin: 0 0.2rem;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;

  transition: color $desktop-entering-duration $material-deceleration-curve,
    border-bottom-color $desktop-entering-duration $material-deceleration-curve;

  &.linkActive {
    color: theme-color(primary);
    border-bottom-color: theme-color(primary);
  }

  &:hover {
    &:not(.linkActive) {
      border-bottom-color: rgba(theme-color(primary), 0.3);
    }
  }

  svg {
    margin-bottom: 0.1rem;
    flex: 0 0 auto;

    width: $icon-size;
    height: $icon-size;
  }
}

.title {
  display: none;
  font-size: 0.7rem;
  margin-left: 0.4rem;
  font-size: 1rem;

  // TODO: Try this caps alternative
  // margin-left: 0.5rem;
  // font-size: 0.85rem;
  // letter-spacing: 0.07rem;
  // font-weight: 500;
  // text-transform: uppercase;
}

.hiddenOnMobile {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .link {
    min-width: unset;
  }
}

@include media-breakpoint-up(xl) {
  .link {
    min-width: 7em;
  }

  .title {
    display: block;
  }
}
