<div class="row">
  <div class="col-md-12">
    <h1>Bare Nusessities</h1>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div id="nm-bn-feed-region">
        </div>
        {{#if feedUrl}}
          <div>
            <button class="btn btn-primary btn-block js-nm-bn-more-posts">Show more posts</button>
          </div>
        {{/if}}
      </div>
      <div class="col-md-4">
        <iframe src="//www.facebook.com/plugins/facepile.php?app_id&amp;href=https%3A%2F%2Fwww.facebook.com%2FBare.NUS&amp;action&amp;width=300&amp;height&amp;max_rows=10&amp;colorscheme=light&amp;size=large&amp;show_count=true&amp;appId=1524196174461544" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:1000px;" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>
