<div class="row nm-bn">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2">
            <a class="pull-right" target="_blank" href="https://www.facebook.com/BareNUS">
              <img class="img-rounded img-responsive" src="https://graph.facebook.com/BareNUS/picture?type=large" alt="BareNUS Profile Picture">
            </a>
          </div>
          <div class="col-md-10">
            <h1 class="media-heading"><a target="_blank" href="https://www.facebook.com/BareNUS">Bare Nusessities</a></h1>
            <p>When studying gets boring, take a walk. Find someone and poke your nose into their business. What you get, will surprise you!<br>This project is about the diversity of the people in NUS. Peace.</p>
          </div>
        </div>
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="nm-bn-feed-container">
          <div id="nm-bn-feed-region">
          </div>
          {{#if feedUrl}}
            <div class="row">
              <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary js-nm-bn-more-posts">Show more posts</button>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
      <div class="col-md-4">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FbareNUS&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=1470211126587040" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>
