@import "~styles/utils/modules-entry.scss";

$form-width: 26rem;

.navbar {
  $vert-padding: 0.5rem;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $navbar-z-index;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $navbar-height;
  padding: $vert-padding 1rem;
  background: var(--gray-lightest);

  @include media-breakpoint-up(md) {
    padding: $vert-padding 2rem;
  }
}

.brand {
  $image-height: 130;
  $image-width: 789;
  $unit: 0.01rem;

  width: $image-width * $unit;
  height: $image-height * $unit;
  margin-right: 1rem;
  background-image: url('img/nusmods-logo.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.form {
  display: inline-block;
  flex: 0 1 $form-width;
}

.weekText {
  flex: 1 1 auto;
  padding-left: $grid-gutter-width / 2;
  line-height: 1.15;
  text-align: right;
}

@include media-breakpoint-down(xs) {
  .weekText,
  .form {
    display: none;
  }
}
