<td>{{id}}
<td>{{title}}
<td>{{time}}
<td>
  <div class="btn-group">
    <a href="#" class="btn btn-default">
      <i class="fa fa-eye"></i>
    </a>
    <a href="#" class="btn btn-default">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <input type='text' class='color'>
