.nm-bn {
  @media (max-width: 1024px) {
    .nm-bn-logo img {
      width: 128px;
    }
  }
  .nm-bn-feed-container {
    display: none;
    &.animated {
      display: inherit;
    }
  }
  .nm-bn-post {
    display: inline-block;
    margin-bottom: 20px;
  }
  .nm-bn-post-message-content {
    color: #000;
  }
  .nm-bn-post-date {
    color: #666;
    .nm-bn-post-month {
      font-size: 18px;
      line-height: 24px;
    }
    .nm-bn-post-day {
      font-size: 32px;
      line-height: 28px;
    }
  }
  .nm-bn-post-bar {
    background-color: #eee;
    padding: 5px 15px;
  }
  $post-background: #fff;
  .nm-bn-post-content {
    background-color: $post-background;
  }
  .nm-bn-post-message-container {
    position: relative;
    padding: 15px;
    &:before {
      border: 20px solid transparent;
      border-bottom-color: $post-background;
      content: " ";
      height: 0;
      position: absolute;
      left: 15px;
      top: -40px;
      width: 0;
      z-index: 100;
    }
    .nm-bn-post-full-message {
      display: none;
    }
    &.nm-bn-show-message {
      .nm-bn-post-see-more {
        display: none;
      }
      .nm-bn-post-full-message {
        display: inline;
      }
    }
  }
  .nm-bn-show-comments {
    .nm-bn-comments {
      display: inherit;
    }
  }
  .nm-bn-comments {
    display: none;
    .nm-bn-comment {
      margin-bottom: 5px;
    }
    .nm-bn-comment-meta {
      color: #ccc;
      font-size: 12px;
    }
    .nm-bn-comment-date {
      color: #999;
    }
  }
}