@mixin dev-github-profile($font-size) {
  .nm-ct-dev-profile {
    .fa-github {
      font-size: $font-size;
    }
  }
}

.nm-ct {
  .nm-ct-devs-container {
    margin-top: 30px;
    a {
      display: inline-block;
      width: 100%;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    .nm-ct-dev-item {
      margin-top: 10px;
      text-align: center;
      &:hover {
        .nm-ct-dev-stat {
            opacity: 1;
        }
        .nm-ct-dev-id {
          filter: grayscale(0);
          text-decoration: none;
        }
      }
    }
    .nm-ct-dev-head {
      display: inline-block;
      margin-bottom: 5px;
      position: relative;
      width: 100%;
      .nm-ct-dev-stat {
        background: rgba(255, 100, 0, 0.5);
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        transition: all .5s;
        p {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
        a {
          color: white;
        }
        a:hover{
          color: black;
        }
      }
      @include dev-github-profile(5em);
      @media (max-width: 1250px) {
        @include dev-github-profile(3em);
      }
      @media (max-width: 1024px) {
        .nm-ct-dev-profile {
          display: none;
        }
        .nm-ct-dev-stat {
          bottom: 0;
          opacity: 1;
          height: 20%;
          top: auto;
        }
      }
    }
    .nm-ct-dev-id {
      color: #666;
      margin: 0 0 10px;
    }
  }

  .nm-ct-revs-container {
    margin-top: 30px;

    .nm-ct-rev-item {
      margin-top: 10px;
      text-align: center;

      .nm-ct-rev-head {
        display: inline-block;
        position: relative;

        .nm-ct-rev-stat {
          border-radius: 50%;
          background: rgba(255, 100, 0, 0.5);
          color: white;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all .5s;
          p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        @media (max-width: 992px) {
          .nm-ct-rev-stat {
            opacity: 1;
            height: 50%;
            width: 50%;
          }
        }
      }

      .nm-ct-rev-id {
        color: rgba(255, 100, 0, 1);
        margin: 0 0 10px;
        filter: grayscale(80%);
      }

      &:hover {
        .nm-ct-rev-head {
          .nm-ct-rev-stat {
            opacity: 1;
          }
        }
        .nm-ct-rev-id {
          filter: grayscale(0);
        }
      }
    }
  }
}
