@import "compass/css3/filter";
@import "compass/css3/transition";

.nm-ct {
  .nm-ct-devs-container {
    margin-top: 30px;

    .nm-ct-dev-item {
      margin-top: 10px;
      text-align: center;

      .nm-ct-dev-head {
        display: inline-block;
        position: relative;

        .nm-ct-dev-stat {
          border-radius: 50%;
          background: rgba(255, 100, 0, 0.5);
          color: white;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          @include transition(all, .5s);
          p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        @media (max-width: 992px) {
          .nm-ct-dev-stat {
            opacity: 1;
            height: 40%;
            width: 40%;
          }
        }
      }

      .nm-ct-dev-id {
        color: rgba(255, 100, 0, 1);
        margin: 0 0 10px;
        @include filter(grayscale(80%));
      }

      &:hover {
        .nm-ct-dev-head {
          .nm-ct-dev-stat {
            opacity: 1;
          }
        }

        .nm-ct-dev-id {
          @include filter(grayscale(0));
        }
      }
    }
  }

  .nm-ct-revs-container {
    margin-top: 30px;

    .nm-ct-rev-item {
      margin-top: 10px;
      text-align: center;

      .nm-ct-rev-head {
        display: inline-block;
        position: relative;

        .nm-ct-rev-stat {
          border-radius: 50%;
          background: rgba(255, 100, 0, 0.5);
          color: white;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          @include transition(all, .5s);
          p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        @media (max-width: 992px) {
          .nm-ct-rev-stat {
            opacity: 1;
            height: 50%;
            width: 50%;
          }
        }
      }

      .nm-ct-rev-id {
        color: rgba(255, 100, 0, 1);
        margin: 0 0 10px;
        @include filter(grayscale(80%));
      }

      &:hover {
        .nm-ct-rev-head {
          .nm-ct-rev-stat {
            opacity: 1;
          }
        }

        .nm-ct-rev-id {
          @include filter(grayscale(0));
        }
      }
    }
  }
}