// Common base timetable styles to be embedded in exported html as well as
// imported into main styles.

#timetable-wrapper {
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
}
#timetable {
  width: 100%;
  min-width: 1159px;
  margin: 0 0 15px -20px;
  table-layout: fixed;
}
#times div {
  margin-right: -13px;
  text-align: right;
}
.day {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  th {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    div {
      line-height: 15px;
      margin-left: 20px;
    }
  }
  td {
    height: 34px;
    padding: 1px 0 0;
  }
}
.m00 {
  border-left: 1px solid $table-border-color;
}
.m30 {
  border-right: 1px solid $table-border-color;
}
.lesson {
  overflow: hidden;
  padding: 1px 3px 3px;
  border: 2px solid;
}

// For the image export options
.dropdown-menu .horiz-menu a {
  clear: none;
  &:not(:first-child) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .image-normal {
    position: relative;
    font-size: 0.8em;
    right: -5px;
  }
  .image-big {
    font-size: 1em;
  }
  .image-large {
    font-size: 1.2em;
  }
}

.hide-code .code,
.hide-group .group,
.hide-room .room,
.hide-title .title,
.hide-week .week {
  display: none;
}
