// Common base timetable styles to be embedded in exported html as well as
// imported into main styles.

#timetable-wrapper {
  font-size: 11px;
  line-height: 13px;
}
#timetable {
  width: 100%;
  min-width: 1159px;
  margin: 0 0 15px -15px;
  table-layout: fixed;
  th {
    background-color: #fff;
  }
}
#times div {
  margin-right: -13px;
  text-align: right;
}
.day {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  th {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    div {
      line-height: 15px;
      margin-left: 20px;
    }
  }
  td {
    height: 34px;
    padding: 1px 0 0;
  }
}
.m00 {
  border-left: 1px solid $table-border-color;
}
.m30 {
  border-right: 1px solid $table-border-color;
}
.lesson {
  border-bottom: 3px solid;
  overflow: hidden;
  padding: 5px;
  transition: all .3s ease-out;
  transition-property: background, transform, box-shadow;
  .code,
  .title {
    font-size: 13px;
    font-weight: bold;
  }
  &.ui-draggable:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform: translate3d(0,-3px,0);
  }
}

// For the image export options
.dropdown-menu .horiz-menu a {
  clear: none;
  &:not(:first-child) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .icon-image-normal {
    font-size: 0.8em;
    left: 12px;
    position: relative;
  }
  .icon-image-big {
    font-size: 1em;
  }
  .icon-image-large {
    font-size: 1.2em;
  }
}

.hide-code .code,
.hide-group .group,
.hide-room .room,
.hide-title .title,
.hide-week .week {
  display: none;
}
