$brand-primary: #f60;
$input-border-focus: $brand-primary;
$body-bg: #f7f7f7;
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: #6e7276;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-active-color: $brand-primary;

$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: #fff;
