$brand-primary: #f60;
$input-border-focus: $brand-primary;
$body-bg: #fcfcfc;
$font-family-sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

// Core variables and mixins
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/media";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

@import "select2-bootstrap-css/lib/select2-bootstrap";

@import "timetable";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 265px;
  padding-top: 70px;
}

a {
  cursor: pointer;
  &.plain {
    color: $text-color;
  }
  &.icon:hover {
    text-decoration: none;
    color: #666;
  }
  &:hover {
    @include transition-property(all);
    @include transition-duration(.3s);
  }
}

// Layout
.container-fluid {
  max-width: $container-lg;
  @media (min-width: $screen-lg-min) {
    @include container-fixed();
  }
}

.main-content {
  padding: 15px;
  padding-bottom: 30px;
}

// Navbar
.navbar {
  background-color: #fff;
}

.navbar-toggle {
  z-index: 100;
  border-color: $brand-primary;
  .icon-bar {
    background-color: $brand-primary;
  }
}

.navbar-default {
  .navbar-nav > {
    li {
      a:hover {
        color: $brand-primary;
        background: none;
      }
      &.active > {
        a {
          color: $brand-primary;
          border-bottom: 3px solid $brand-primary;
          background: none;
          &:hover {
            color: $brand-primary;
            background: none;
          }
        }
      }
    }
  }
}

.navbar-default {
  .navbar-form {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border: none;
  }
}

.nav-tabs > {
  li.active > {
    a,
    a:hover,
    a:focus {
      background-color: $body-bg;
    }
  }
}

// NUSMods Logo
#brand {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  color: $brand-primary;
  &:hover {
    text-decoration: none;
    color: $link-color;
  }
  .mods {
    color: #aaa;
  }
}

.nm-logo {
  width: 139px;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 109px 18px;
}

.highlight {
  font-weight: bold;
  color: $brand-primary;
  &.thin {
    font-weight: normal;
  }
}

.nm-page-heading {
  color: $brand-primary;
}

.nm-section-heading {
  color: $gray-light;
}

$module-section-min-height: 700px;

.nm-boxify {
  $margin-width: 15px;
  min-height: $module-section-min-height;
  padding: $margin-width;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.mode-slate {
  .nm-boxify {
    min-height: $module-section-min-height;
    border: none;
    background-color: #222326;
  }
}

.navbar-header {
  @media (min-width: $screen-sm-min) {
    width: 500px;
  }
  @media (min-width: $screen-lg-min) {
    width: 650px;
  }
}

.navbar-form .form-control {
  width: 300px;
  margin-left: $navbar-padding-horizontal;
  @media (min-width: $screen-sm-min) {
    width: 350px;
  }
  @media (min-width: $screen-lg-min) {
    width: 500px;
  }
}

// Loading Overlay
#overlay {
  @include opacity(1);
  top: 50px;
  background-color: #fff;
}
#loading {
  font-weight: bold;
  position: fixed;
  z-index: $zindex-modal-background;
  top: 220px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

// Select2
.select2-result-label {
  @include clearfix();
  div {
    float: left;
    width: 230px;
    @media (min-width: $screen-sm-min) {
      width: 280px;
    }
    @media (min-width: $screen-lg-min) {
      width: 430px;
    }
  }
  .btn {
    float: right;
    color: #ddd;
    &:hover {
      color: #fff;
    }
  }
}

// Module Finder Sidebar
@media (max-width: 768px) {
  #sidebar #clear-all {
    float: left;
  }
}

#module-finder label {
  font-weight: normal;
}

#content .form-inline label:first-child {
  width: 40px;
}

.facet-Department .checkbox-inline {
  display: block;
  margin-left: 0 !important;
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

// Sidebar Toggling
@media (min-width: $screen-sm-min) {
  #sidebar-toggle {
    font-size: 24px;
    position: fixed;
    bottom: 4px;
    left: 4px;
  }
}

// Module Finder Content
td {
  &.code,
  &.mc {
    text-align: center;
  }
  &.code {
    font-weight: bold;
  }
  &.exam {
    min-width: 95px;
  }
  &.details .desc {
    margin-top: 2px;
  }
}

.lecturers {
  display: inline;
  li {
    padding-right: 0;
  }
  li:after {
    content: ","
  }
  li:last-of-type:after {
    content: "";
  }
}

// Timetable
#timetable {
  user-select: none;
  th {
    background-color: $body-bg;
  }
}

colgroup.hover {
  background-color: $table-bg-hover;
}
#sat {
  display: none;
}
.lesson {
  &:hover {
    cursor: not-allowed;
  }
  &.active {
    @include opacity(.6);
  }
  &.hover {
    @include opacity(1);
  }
}
.ui-draggable {
  border-radius: 8px;
  &:hover {
    cursor: move;
  }
}

// For ZeroClipboard CSS effects
// https://github.com/jonrohan/ZeroClipboard/blob/master/docs/instructions.md#css-effects
#copy-to-clipboard.zeroclipboard-is-active {
  @extend .btn:active;
  @extend .btn-default:active;
}
#copy-to-clipboard.zeroclipboard-is-hover {
  @extend .btn:hover;
  @extend .btn-default:hover;
}

#exam-timetable > table {
  font-weight: bold;
  border: 1px solid $gray;
  th {
    border: 1px solid $gray;
    background-color: $gray-lighter;
  }
  td {
    border: 1px solid $gray;
    &:first-child {
      text-align: right;
    }
  }
  tr {
    &.clash {
      background-color: $gray-lighter;
    }
    &:hover td {
      background-color: transparent;
    }
  }
}
.clash {
  color: red !important;
}
.nm-timetable-action {
  a {
    margin-right: 5px;
  }
}

// Module Detail Page 
.module-page {
  .module-code {
    margin-bottom: 5px;
    color: $brand-primary;
  }
  .module-title {
    font-weight: normal;
    margin: 5px 0;
    text-shadow: none;
  }
  dd {
    margin-bottom: 10px;
  }
  .desc-more {
    display: none;
  }
  .module-desc-more {
    .desc-less {
      display: none;
    }
    .desc-more {
      display: inherit;
    }
  }
  .desc-full {
    text-align: right;
  }
  .workload-components dd {
    margin-bottom: 0;
  }
  #disqus-count {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .radio {
    padding-left: 0;
    label {
      display: inline-block;
      padding-right: 10px;
    }
  }
  .nm-filter {
    label {
      .tooltip {
        font-weight: normal;
      }
    }
  }
  .ivle {
    margin-right: 5px;
  }
}

// ModMaven
.modmaven {
  #tree {
    border: 2px solid #eee;
    min-height: 550px;
  }
  #svg {
    cursor: move;
  }
  .opaque {
    opacity: 1;
  }
  .transparent {
    opacity: 0;
  }
  .translucent {
    opacity: 0.3;
  }
  .opacity-transition {
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }
  .link {
    stroke: #000;
    fill: none;
  }
  .rect {
    stroke: black;
    stroke-width: 1.5;
  }
  .mod-rect {
    fill: $brand-primary;
    transition: opacity .25s ease, fill .25s ease;
    -moz-transition: opacity .25s ease, fill .25s ease;
    -webkit-transition: opacity .25s ease, fill .25s ease;
  }
  .andor-rect {
    cursor: default;
    opacity: 0 !important;
  }
  .active-rect {
    fill: #ccc;
  }
  .rect-label {
    fill: #000;
    font-weight: bold;
    text-anchor: middle;
    pointer-events:none;
  }
  .andor-label {
    font-size: 50px !important;
  }
  .linkable-mod {
    cursor: pointer;
  }
  .non-linkable-mod {
    cursor: not-allowed;
  }
}

.mode-slate {
  .modmaven {
    #tree {
      border-color: #444;
    }
    .link {
      fill: none;
      stroke: #fff;
    }
    .rect-label {
      fill: #fff;
    }
    .active-rect {
      fill: #7e7e7e;
    }
  }
}

// Preferences
#preferences {
  @include user-select(none);
  #theme-options {
    display: inline-block;
    width: 200px;
  }
  .radio {
    height: 30px;
  }
  .control-label {
    font-size: 14px;
  }
  .help-block {
    font-size: 12px;
    color: #888;
  }
  .radio,
  .checkbox {
    padding-left: 0;
    label {
      display: inline-block;
      padding-right: 10px;
    }
  }
  .theme-colors-sample {
    margin: 10px 0;
    span {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 8px;
      border: 2px solid;
      border-radius: 4px;
    }
  }
  .random-theme {
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
  }
  .ivle-status {
    margin-left: 10px;
  }
  .hidden {
    display: none;
  }
}

// Help
#help {
  .keyboard-shortcuts {
    .category-title {
      margin-bottom: 10px;
    }
    .key {
      $key-size: 30px;
      font-weight: bold;
      line-height: $key-size;
      display: inline-block;
      width: $key-size;
      height: $key-size;
      margin-bottom: 10px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
}

#about {
  p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .logo-container {
    margin: 30px 0;
  }
}

#team {
  p {
    font-size: 18px;
  }
  .media-object {
    border-radius: 10px;
  }
  .media-heading {
    font-weight: bold;
  }
  .nm-social-icons {
    display: inline-block;
    margin-right: 10px;
  }
}

// Footer

.footer-container {
  $footer-text-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  color: $footer-text-color;
  background-color: #333;
  .footer {
    white-space: nowrap;
  }
  .section-title {
    font-weight: bold;
    color: #777;
  }
  ul {
    padding-left: 0;
    list-style: none;
    li {
      font-weight: 300;
      a {
        color: $footer-text-color;
        &:hover {
          text-decoration: none;
          color: $brand-primary;
        }
      }
    }
    &.nm-social {
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  .last-update-timestamp {
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #777;
    border-radius: 5px;
  }
  #copyright p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    margin-bottom: 0;
  }
  .footer-container {
    position: static;
  }
}

.social-buttons {
  text-align: center;
  iframe {
    // Iframe frameborder attribute is invalid HTML5 but no alternative for IE8.
    // Hide using IE CSS hack instead.
    display: none\9;
    overflow: hidden;
    width: 85px;
    height: 20px;
    border: 0;
  }
}
@media (min-width: $screen-sm-min) {
  .credits > div {
    text-align: right;
  }
}
@media (max-width: $screen-xs-max) {
  .footer {
    text-align: center;
  }
}
