@import "mixins";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

#mode-options {
  display: inline-block;
  width: 120px;
}

.mode-slate {
  $mode-color: #f60;
  margin-bottom: 265px;
  color: #fff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
  }
  a,
  a:hover {
    color: $mode-color;
    &.plain {
      color: #000;
    }
  }
  .alert {
    .alert-link,
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
    .highlight {
      color: #000;
    }
  }
  table a:not(.btn) {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.icon {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  hr {
    border-color: #444;
  }
  a.label {
    color: #fff;
  }
  .pagination.semester-availability > .active > {
    a, span {
      &,
      &:hover,
      &:focus {
        background-color: $mode-color;
      }
    }
  }
  #brand {
    color: $mode-color;
    &:hover {
      color: $mode-color;
    }
  }
  $dark-nav-bg-color: #161713;
  .navbar {
    border: none;
    background: $dark-nav-bg-color;
  }
  .navbar-default {
    .navbar-nav > {
      li {
        a {
          border: none;
        }
        a:hover {
          color: $mode-color;
          background: none;
        }
        &.active > {
          a {
            color: $mode-color;
            border-bottom: 3px solid $mode-color;
            background: none;
            &:hover {
              color: $mode-color;
              background: none;
            }
          }
        }
      }
    }
    .navbar-form {
      margin-top: 8px;
      margin-bottom: 8px;
      border: none;
      box-shadow: none;
    }
  }
  $dark-nav-tab-bg-color: #272b30;
  .nav-tabs > {
    li.active > {
      a,
      a:hover,
      a:focus {
        color: #fff;
        background-color: $dark-nav-tab-bg-color;
      }
    }
  }
  @media (max-width: 768px) {
    .module-navigation {
      background-color: $dark-nav-bg-color;
      border: none;
    }
    .nav-tabs > {
      li.active > {
        a,
        a:hover,
        a:focus {
          color: $mode-color;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
  .search-form {
    .search-icon {
      color: #000;
      text-shadow: none;
    }
  }
  .ivle,
  .cors {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  #exam-timetable > table th {
    color: #000;
  }
  .form-control {
    border-color: #000;
  }
  #timetable {
    background-color: transparent;
    th {
      background-color: #272b30;
    }
  }
  colgroup.hover {
    background-color: #222;
  }
  .highlight {
    color: $mode-color;
  }
  .module-page {
    .module-code {
      color: $mode-color;
    }
    .module-page-section-title {
      color: #fff;
    }
  }
  #help {
    .key {
      border-color: #fff;
    }
  }
  .select2-drop-active,
  .select2-drop.select2-drop-above.select2-drop-active,
  .select2-container-active .select2-choices,
  .select2-dropdown-open.select2-drop-above .select2-choices,
  .select2-container-multi.select2-container-active .select2-choices {
    border-color: $mode-color;
  }
  .select2-results .select2-highlighted {
    background: none repeat scroll 0 0 $mode-color;
  }
  .brand:hover {
    color: $mode-color;
  }
  .navbar-form .form-control {
    width: 300px;
    @media (min-width: $screen-sm-min) {
      width: 350px;
    }
    @media (min-width: $screen-lg-min) {
      width: 500px;
    }
  }
  .footer-container {
    background-color: #1b1b1b;
    ul li a {
      &:hover {
        color: $mode-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .mode-slate {
    margin-bottom: 0;
  }
}
