@import "mixins";

#mode-options {
  display: inline-block;
  width: 120px;  
}

.mode-slate {
  $mode-color: #a7ec21;
  color: #fff;

  /* Color scheme inspired by Sublime Text */
  .color0  { @include color(#f92672); }
  .color1  { @include color(#fd971f); }
  .color2  { @include color(#f4bf75); }
  .color3  { @include color(#a6e22e); }
  .color4  { @include color(#a1efe4); }
  .color5  { @include color(#66d9ef); }
  .color6  { @include color(#ae81ff); }
  .color7  { @include color(#cc6633); }

  a, a:hover {
    color: $mode-color;
  }
  .nav {
    background-color: #161713;
  }
  .nav-tabs > { 
    li.active > {
      a, a:hover, a:focus {
        background-color: #272b30;
        color: #fff;
      }
    }
  }
  #exam-timetable > table th {
    color: #000;
  }
  .form-control {
    border-color: #000;
  }
  #timetable {
    background-color: transparent;
    td {
      background-color: #2e3338;
    }
  }
  .select2-drop-active,
  .select2-drop.select2-drop-above.select2-drop-active,
  .select2-container-active .select2-choices,
  .select2-dropdown-open.select2-drop-above .select2-choices,
  .select2-container-multi.select2-container-active .select2-choices {
    border-color: $mode-color;
  }
  .select2-results .select2-highlighted {
    background: none repeat scroll 0 0 $mode-color;
  }
  .brand:hover {
    color: $mode-color;
  }
}