@import "~styles/utils/modules-entry.scss";

$v-padding: 0.6rem;
$h-padding: $grid-gutter-width / 2;

.heading {
  margin-bottom: 0;
  font-weight: bold;
  font-size: $font-size-xs;

  @include media-breakpoint-down(sm) {
    padding: $v-padding $h-padding;
    font-size: $font-size-sm;
    border-bottom: 1px solid var(--gray-lighter);
  }
}

.label {
  margin: 0;
  font-size: $font-size-xs;
  cursor: pointer;

  &:hover {
    color: theme-color();
  }

  &.enabled {
    font-weight: bold;
    color: theme-color();
  }

  :global(.text-muted) {
    font-weight: normal;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }
}

.checklist,
.dropdown {
  .label {
    display: block;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    @include media-breakpoint-down(sm) {
      padding: $v-padding $h-padding $v-padding ($h-padding + 20px);
      border-bottom: 1px solid var(--gray-lighter);
    }
  }
}

.dropdown {
  $icon-size: 1rem;

  h4 label {
    margin-bottom: 0;
  }

  .label {
    white-space: normal;
  }

  .searchWrapper {
    position: relative;
    margin-right: ($grid-gutter-width / 2);

    svg {
      position: absolute;
      top: 0.35rem;
      left: 0;
      width: $icon-size;
      height: $icon-size;
      transition: $transition-base;
    }

    &.focused svg {
      color: theme-color();
    }
  }

  .searchInput {
    padding-left: $icon-size + 0.3rem;
    margin: 0.2rem 0;
    border-width: 0 0 1px;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }

    @include media-breakpoint-down(sm) {
      padding: 0.5rem ($grid-gutter-width / 2);
    }
  }

  :global(.dropdown-menu) {
    width: calc(100% - 0.2rem);
    max-height: 17rem;
    padding: 0;
    margin: 0;
    overflow: auto;
    border-radius: 0 0 3px 3px;

    .label {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  mark {
    padding: 0;
    border-bottom: 1px solid var(--yellow);
  }

  .selected {
    color: theme-color();
    background: var(--gray-lightest);
  }
}

.timeslot {
  margin-bottom: 1rem;

  .label {
    display: block;
    padding: 0.2rem 0;
    margin: 0;
    text-align: center;
    border: 1px solid transparent;

    &.enabled {
      color: #fff;
      background: theme-color();
    }

    &:hover {
      border-color: theme-color();
    }
  }

  @include media-breakpoint-down(sm) {
    .heading {
      border-bottom: 0;
    }

    th {
      font-size: $font-size-sm;
      color: var(--gray-light);
    }

    .label {
      padding: $v-padding 0;
    }
  }
}
