@import '~styles/utils/modules-entry';

// Colors from https://material.io/design/color/
$route-colors: (
  A1: #ee5050,
  A2: #fcaf1b,
  D1: #f48ebf,
  D2: #8c56cf,
  E: #16ab52,
  K: #4862bd,
  BTC: #fb720f,
  L: #3087d8,
);

@at-root {
  body {
    --map-label: #40456f;
    --map-bg: #ffffff;
    --map-deselected: #c3d7ea;
    --map-dark: #40456f;
    --map-light: #ffffff;

    &:global(.mode-dark) {
      --map-label: #ffffff;
      --map-bg: #282b3f;
      --map-deselected: #384450;
    }
  }
}

.stopIcon {
  $size: 12px;
  width: $size;
  height: $size;
  border-radius: 999px;
  position: absolute;
  top: 9px;
  left: 9px;
  background: var(--map-deselected);
  border: solid 1.5px var(--map-bg);
  transform: scale(0.6);
  transition: 0.2s ease;

  &.allRoutes {
    background: #3087d8;
  }

  &.interchange[data-code] {
    transform: scale(0.75);
    background: var(--map-light);
    border: solid 2.5px var(--map-dark);
  }
}

.iconWrapper {
  $color: #a1c2e1;

  .hitArea {
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3087d8;
    // box-shadow: 0 0 8px rgba($color, 0.3);
    transition: opacity 0.25s;
  }

  &:hover .hitArea {
    opacity: 0.6;
  }

  .routeWrapper {
    position: absolute;
    top: 6px;
    left: calc(100% - 8px);
    // width: 100px;
    width: auto;
    // max-width: none;
    white-space: nowrap;
    line-height: 1.3;
    pointer-events: none; // So the entire 100px width will not be selectable when there's only one route

    &.left {
      right: calc(100% - 8px);
      left: auto;
      text-align: right;

      .stopServicesList {
        justify-content: flex-end;
      }
    }

    &.focused {
      top: 2px;
    }
  }

  .stopName {
    font-size: 0.8rem;
    font-weight: 700;
    // margin-bottom: 0.2rem;
    pointer-events: auto;
    color: var(--map-label);
    //http://owumaro.github.io/text-stroke-generator/
    text-shadow: var(--map-bg) 1px 0px 0px, var(--map-bg) 0.540302px 0.841471px 0px,
      var(--map-bg) -0.416147px 0.909297px 0px, var(--map-bg) -0.989993px 0.14112px 0px,
      var(--map-bg) -0.653644px -0.756803px 0px, var(--map-bg) 0.283662px -0.958924px 0px,
      var(--map-bg) 0.96017px -0.279416px 0px;
  }

  .subtext {
    font-weight: 700;
    color: var(--gray);
    text-shadow: var(--map-bg) 1px 0px 0px, var(--map-bg) 0.540302px 0.841471px 0px,
      var(--map-bg) -0.416147px 0.909297px 0px, var(--map-bg) -0.989993px 0.14112px 0px,
      var(--map-bg) -0.653644px -0.756803px 0px, var(--map-bg) 0.283662px -0.958924px 0px,
      var(--map-bg) 0.96017px -0.279416px 0px;
  }

  .focused {
    font-size: 1.25rem;
  }

  .stopServicesList {
    display: flex;
    margin-top: 0.125rem;

    .stopService {
      display: block;
      padding: 0.125rem 0.25rem;
      background-color: var(--svc-color);
      color: white;
      border-radius: 0.25rem;
      font-weight: 700;
      font-size: 0.75rem;
      margin-right: 0.25rem;
    }
  }

  .routeIndicatorWrapper {
    display: flex;
  }

  .route {
    display: inline-block;
    padding: 2px 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 9px;
    line-height: 1;
    pointer-events: auto;
  }
}

:global {
  .leaflet-container {
    background: none;
  }
  .leaflet-overlay-pane {
    path {
      vector-effect: non-scaling-stroke;
      fill: none;
    }

    .overlay_bg {
      .KRC_svg__KRC.KRC_svg__stroke g path,
      .BTC_svg__BTC.BTC_svg__stroke g path {
        color: var(--map-bg);
        stroke-opacity: 1;
        stroke-width: 4px;
      }
      .KRC_svg__KRC g path,
      .BTC_svg__BTC g path {
        color: var(--map-deselected);
        stroke-opacity: 1;
        stroke-width: 2px;
      }

      .allRoutes {
        .KRC_svg__KRC.KRC_svg__stroke g path,
        .BTC_svg__BTC.BTC_svg__stroke g path {
          color: var(--map-bg);
          stroke-opacity: 1;
          stroke-width: 4px;
        }
        .KRC_svg__KRC g path,
        .BTC_svg__BTC g path {
          color: #3087d8;
          stroke-opacity: 1;
          stroke-width: 2px;
        }
      }
    }
    .overlay_fg {
      .KRC_svg__KRC.KRC_svg__stroke g path,
      .BTC_svg__BTC.BTC_svg__stroke g path {
        color: var(--map-bg);
        stroke-opacity: 0;
        stroke-width: 4px;
      }
      .KRC_svg__KRC g path,
      .BTC_svg__BTC g path {
        stroke-opacity: 0;
        stroke-width: 2px;
      }

      .allRoutes {
        display: none;
      }
    }
  }
}
