{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "react/jsx-space-before-closing": "off"
  }
}
