# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

 
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusMods.interp linguist-generated=true
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusMods.tokens linguist-generated=true
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusModsLexer.interp linguist-generated=true
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusModsLexer.tokens linguist-generated=true
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusModsLexer.ts linguist-generated=true
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusModsParser.ts linguist-generated=true
scrapers/nus-v2/src/services/requisite-tree/antlr4/NusModsVisitor.ts linguist-generated=true
