version: '3.7'
services:
  website:
    build:
      context: .
      dockerfile: website/Dockerfile.dev
      args:
        - GIT_COMMIT_HASH
        - DATA_API_BASE_URL
    volumes:
      - ~/.cache/yarn:/home/node/.cache/yarn
      - ./website:/home/node/app/website
      - ./packages:/home/node/app/packages
      - ./.prettierrc.js:/home/node/app/.prettierrc.js
    expose:
      - 8080
      - 8081
    environment:
      - NODE_ENV=development
    user: ${CURRENT_UID:-1000:1000}
    restart: on-failure
  export:
    build:
      context: .
      dockerfile: export/Dockerfile.dev
    env_file:
      - export/.env
    volumes:
      - ~/.cache/yarn:/home/node/.cache/yarn
      - ./export:/home/node/app/export
      - ./.prettierrc.js:/home/node/app/.prettierrc.js
    expose:
      - 8082
    depends_on:
      - website
    init: true
    security_opt:
      - seccomp=infra/instance/chromium.seccomp.json
    environment:
      - NODE_ENV=development
      - PORT=8082
      - HOST=0.0.0.0
      - PAGE=http://website:8081
      - CHROME_EXECUTABLE=/usr/bin/chromium-browser
    user: ${CURRENT_UID:-1000:1000}
    restart: on-failure
  proxy:
    image: abiosoft/caddy:no-stats
    ports:
      - 8080:2015
    volumes:
      - ./infra/instance/Caddyfile:/etc/Caddyfile
      - ./infra/instance/logs:/logs
    restart: on-failure
