// Root and dark mode CSS variable declaration
:root {
  --body-bg: $body-bg;
  --body-bg-70: rgba($body-bg, 0.7);
  --body-bg-transparent: rgba($body-bg, 0);
  --body-color: $body-color;
  --gray: $gray;
  --gray-light: $gray-light;
  --gray-lighter: $gray-lighter;
  --gray-lightest: $gray-lightest;
  --gray-dark: $gray-dark;
}

body.dark {
  --body-bg: $gray-dark;
  --body-bg-70: rgba($gray-dark, 0.7);
  --body-bg-transparent: rgba($gray-dark, 0);
  --body-color: #aaa;
  --gray: #aaa;
  --gray-light: #666;
  --gray-lighter: #474747;
  --gray-lightest: #333;
  --gray-dark: invert($gray-dark);
}
