@mixin color($color) {
  color: darken($color, 40%);
  border-color: darken($color, 20%);
  background-color: $color;

  &:hover {
    background-color: darken($color, 10%);
  }
}

@mixin mobile-landscape {
  @include media-breakpoint-down(sm) {
    @media (max-height: 15rem) {
      @content;
    }
  }
}

@mixin scrollable {
  overflow: auto;

  // @supports is used here because Safari requires overflow: scroll to be used in conjunction with
  // -webkit-overflow-scrolling: touch to ensure smooth scrolling on iOS, but this causes ugly
  // scrollbars to appear in other browsers
  @supports (-webkit-overflow-scrolling: touch) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@mixin touchscreen-only {
  @media (pointer: coarse) {
    @content;
  }
}

@mixin night-mode-only {
  :global(.mode-dark) {
    @content;
  }
}
