body {
  max-width: 30rem;
  margin: 4rem auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    sans-serif;
  line-height: 1.5;
}

h1 {
  color: #ff5138;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

a.btn {
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #ff5138;
  border-color: #ff5138;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff3012;
  border-color: #ff2405;
}
