[workspace]
members = [
    "crates/*",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.aggressive]
inherits = "release"
lto = true
panic = 'abort'
codegen-units = 1

[workspace.dependencies]
