@import '~styles/utils/modules-entry.scss';

.container {
  composes: page-container from global;
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    margin-left: 2rem;
  }
}

.header {
  margin-bottom: 1.5rem;
}

.expr {
  composes: text-primary from global;
  display: block;
}

.subheader {
  composes: font-weight-bold from global;
  margin-bottom: 0;
}

.link {
  composes: btn-link from global;
  padding: 0;
  margin: 0;
  border: 0;
}

.centerContainer {
  text-align: center;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: -2em;
  text-align: center;
}

.authButtonContainer {
  :not(:last-child) {
    margin-right: 1em;
  }
}

.bigCharacter {
  padding: 0.1em;
  font-weight: bolder;
  font-size: 10em;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: rgb(255, 81, 56);
  -webkit-text-stroke-width: 2px;
}
