@import '~styles/utils/modules-entry';

.openMap {
  composes: btn btn-link btn-block from global;
  color: inherit;
  border-top: 1px solid;
  border-radius: 0;

  &:hover {
    color: inherit;
    border-top: 1px solid;
  }
}
