@import '~styles/utils/modules-entry.scss';

$timetable-border: 1px solid var(--gray-lighter);

$timetable-right-padding: 2vw;
$timetable-day-h-size: 3.5rem;
$timetable-day-h-size-sm: 1.5rem;
$timetable-day-v-size: 2.5rem;

$timetable-row-height: 3.6rem;
$timetable-col-width: 4rem;

$current-time-indicator-circle-diameter: 0.5rem;
$current-time-indicator-circle-offset: -0.25rem;
$current-time-indicator-line-width: 0.1rem;
$current-time-indicator-line-offset: -0.05rem;
