@import './_variables.scss';

.currentTimeIndicator {
  position: absolute;
  z-index: $current-time-indicator-z-index;
  width: 0%;
  height: 100%;
  background: none;
}

:global(.verticalMode) .currentTimeIndicator {
  width: 100%;
  height: 0%;
}

.circularPart {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: $primary;
}

.linePart {
  position: relative;
  top: 0%;
  left: -0.05rem;
  width: 0.1rem;
  height: 110%;
  background: $primary;
}

:global(.verticalMode) .linePart {
  width: 102%;
  height: 0.1rem;
}
