@import "~styles/utils/modules-entry";

.table {
  min-width: 100%;
  table-layout: fixed;
}

.day,
.dayName,
.dayDate {
  width: 16.6666%;
  padding: 0 0.25rem;
  vertical-align: top;
  border: 1px solid var(--gray-lighter);
  border-width: 0 1px 0 0;

  &:last-child {
    border-right: 0;
  }
}

.dayName {
  min-width: 7rem;
  padding-bottom: 0;
  font-weight: normal;
  font-size: $font-size-sm;
  color: var(--gray-light);
}

.dayDate {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
  border-top-width: 1px;

  tr:first-child & {
    border-top: 0;
  }
}

.day {
  h4 {
    margin-bottom: 0.2rem;
    font-size: $font-size-sm;
  }

  a {
    display: block;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    font-size: $font-size-sm;
    border-bottom-width: 0.3rem;
    border-bottom-style: solid;
  }

  .moduleCode {
    font-weight: $font-weight-bold;
  }

  .moduleTitle {
    font-size: $font-size-xs;
    line-height: 1.1;
  }
}
