@import '~styles/utils/modules-entry';
$input-height: 2.75rem;
$module-list-height: 13.5rem;

.container {
  position: relative;
}

.input {
  composes: form-control from global;
  text-align: left;
  white-space: nowrap;

  &:global(.form-control) {
    height: $input-height;
  }

  // Remove bootstrap's box-shadow
  &:global(.form-control):focus {
    box-shadow: none;
  }
}

.modal .input {
  border-width: 0 0 1px;
  border-radius: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: $input-height;
  height: $input-height;
}

.selectList {
  composes: scrollable-y list-unstyled from global;
  max-height: calc(100% - #{$input-height});
  // Background color so that elements behind this won't peek through for iOS overscroll
  background: var(--body-bg);
}

@include media-breakpoint-up(md) {
  .selectList,
  .tip {
    position: absolute;
    top: $input-height;
    right: 0;
    left: 0;
    z-index: $module-select-z-index;
    max-height: $module-list-height;
    border: $input-btn-border-width solid $input-border-color;
    border-width: 0 $input-btn-border-width $input-btn-border-width;
    border-radius: 0 0 $btn-border-radius $btn-border-radius;
  }
}

.item,
.tip {
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: 0.9rem;
  color: var(--body-color);
  background: var(--body-bg);
}

.option {
  composes: item;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  touch-action: manipulation;
}

.optionSelected {
  color: $link-hover-color;
  background: var(--gray-lightest);
}

.optionDisabled {
  color: var(--gray-light);
  cursor: default;
}
