@import '~styles/utils/modules-entry';

.warningOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $timetable-warning-z-index;
  background: var(--body-bg-70);
}

.warning {
  max-width: 540px;
  padding: 0 2rem;
  margin: 2rem auto 0;
}
