@import './_variables.scss';

.sidebarIcon {
  composes: svg svg-small from global;
  transform: rotate(180deg);
}

:global(.verticalMode) {
  .sidebarIcon {
    transform: rotate(-90deg);
  }
}

.leftButtonGroup,
.rightButtonGroup {
  display: flex;
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    :global(.btn) {
      padding: 0.25rem 0.4rem;
      font-size: $font-size-sm;
    }
  }
}

// Three layout forms -
//
// 1. Left and right groups on separate rows
//   - xs for both orientation
//   - lg and below for vertical
//
// 2. Left and right on one row, each button taking 1/3 space
//   - sm for both orientation
//   - xl for vertical
//
// 3. Left and right on one row, with space between two groups
//   - md and above for horizontal
@mixin layout-1 {
  .rightButtonGroup,
  .leftButtonGroup {
    width: 100%;
  }
}

@mixin layout-2 {
  .leftButtonGroup {
    width: 33%;
  }

  .rightButtonGroup {
    width: 66%;
  }
}

.rightButtonGroup {
  justify-content: space-between;
  min-width: 16rem;

  > * {
    width: calc(50% - 0.25rem);
  }
}

.leftButtonGroup {
  :global(.btn) {
    width: 100%;
  }
}

:global(.verticalMode) {
  .rightButtonGroup {
    min-width: 0;
  }

  @include layout-1;

  @include media-breakpoint-only(sm) {
    @include layout-2;
  }

  @media (min-width: 90rem) {
    @include layout-2;
  }
}

@include media-breakpoint-only(sm) {
  @include layout-2;
}

@include media-breakpoint-down(xs) {
  @include layout-1;
}
