@import '~styles/utils/modules-entry';

.container {
  :global {
    animation-name: $page-entering-animation;
  }
}

.timetableWrapper {
  composes: scrollable from global;
  margin-bottom: 1rem;

  @include media-breakpoint-down(sm) {
    // Maximize the space taken by the timetable by overflowing into the grid gutters
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
  }
}

.tableContainer {
  composes: row from global;
  margin-top: 0.5rem;
}

.timetableActions {
  margin-bottom: 0.3rem;
}

.modulesSelect {
  margin-bottom: 1rem;
}
