@import './_variables.scss';

$cell-padding: 0.3rem;
$cell-opacity: 0.5;
$cell-border-radius: 6px;

.cell {
  // Flex to ensure cell content sticks to top, because browsers tend to
  // vertical align middle button content
  display: flex;
  flex-direction: column;
  padding: $cell-padding;
  font-size: $font-size-xxs;
  line-height: 0.85rem;
  text-align: left;
  border-width: 0 0 0.2rem;
  border-style: solid;
  pointer-events: none;
  transition: background-color $desktop-entering-duration $material-deceleration-curve;
  animation-duration: $desktop-entering-duration;

  &:hover,
  &:focus {
    outline: none;
  }
}

.cellContainer {
  width: 100%;
  height: 100%;
  padding: 0;
}

:global(.verticalMode) .cell {
  position: absolute;
  width: 100%;
}

.cellIsModifiable {
  border-radius: $cell-border-radius;
  pointer-events: auto;
  cursor: pointer;
}

.cellIsAvailable {
  opacity: $cell-opacity;

  :global {
    animation-name: zoomIn;
  }

  &:hover {
    opacity: 1;
  }
}

.cellIsActive {
  z-index: $timetable-selected-cell-z-index;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  :global {
    animation-name: pulse;
  }
}

.cellIsActiveScrolled {
  z-index: $timetable-selected-cell-scrolled-z-index;
}

.moduleCode {
  font-weight: 600;
  font-size: $font-size-xs;
}
