@import "~styles/utils/modules-entry.scss";

.pageContainer {
  :global {
    animation-name: $page-entering-animation;
  }
}

.searchRow {
  background: var(--body-bg);
}

.availabilityRow {
  position: relative;
  z-index: 1;
  padding: 0 1rem;
  margin: -1px 0;
  background: var(--gray-lighter);
}
