@import "~styles/utils/modules-entry.scss";

.venueDetailRow {
  padding-top: 1rem;
  border-top: 1px $gray-lighter solid;

  &:first-child {
    padding-top: 0.25rem;
    border-top: 0;
  }
}

.venueTimetable {
  margin-bottom: 1rem;
  overflow: auto;
}
