@import '~styles/utils/modules-entry';

.search {
  display: grid;
  gap: 0.8rem;

  label {
    margin-bottom: 0.4rem;
    font-size: $font-size-s;
    color: var(--muted-foreground);
  }

  :global(.form-group) {
    margin-bottom: 0;
  }
}
