@import '~styles/utils/modules-entry.scss';

.header {
  display: grid;
  clear: both;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }

  :global(.btn) {
    white-space: normal;
    justify-self: start;
  }

  :global(.btn):last-child {
    justify-self: end;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;

    h1 {
      grid-column: 1 / -1;
      grid-row: 1;
      justify-self: center;
    }

    :global(.btn):first-child {
      grid-column: 1;
      grid-row: 2;
      justify-self: start;
    }

    :global(.btn):last-child {
      grid-column: 2;
      grid-row: 2;
      justify-self: end;
    }
  }
}

.timetable {
  composes: scrollable from global;
  padding-bottom: 1rem;
}

.location {
  @include media-breakpoint-down(sm) {
    margin: 0 ($grid-gutter-width * 0.5);
  }
}
