:2015 {
  log /logs/access.log
  errors /logs/error.log

  push

  proxy / website:8080 {
    transparent
    websocket
    max_fails 3
  }

  proxy /export/ export:8082 {
    transparent
    websocket
    max_fails 3
    without /export
  }

  # Put proxy in the reverse proxy so that we don't create unnecessary
  # redirects (which need the JS bundle to be loaded before React Router kicks
  # in).
  proxy /api https://api.nusmods.com/ {
    without /api
  }

  redir /news https://blog.nusmods.com 301
}
