extends ./base

block main
  h1 Uh oh...
  p
    | We don't understand the link you're trying to open.
    | If you have copied the link from somewhere else, check that the entire link
    | has been copied and try again.
