@import '~styles/utils/modules-entry';

div.modulesPageContainer {
  max-width: 92rem;
  margin-left: 0;
  animation-name: $page-entering-animation;
}

.moduleFinderLayout {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.searchResultsColumn {
  position: relative;
  flex: 1;
  min-width: 0; // Allows the column to shrink below its content size
}

.sidebarColumn {
  flex-shrink: 0; // Prevents the sidebar from shrinking
  width: 280px;
}

.modulesList {
  list-style: none;
  padding: 0;
  margin: 0;

  mark {
    border-bottom: 1px solid;
  }
}

.modulePageDivider {
  width: 100%;
  padding: 0.25rem 0;
  margin: 1rem 0;
  font-size: $font-size-sm;
  text-align: left;
  color: var(--muted-foreground);
}

.loadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: var(--body-bg-70);
}

// Media query for smaller screens
@include media-breakpoint-down(sm) {
  .moduleFinderLayout {
    flex-direction: column;
  }

  .sidebarColumn {
    width: 100%;
    margin-top: 2rem;
  }
}
