@import '~styles/utils/modules-entry';

.option {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
  padding: 0.75rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  text-align: left;
  background: var(--card);

  &:hover {
    background: var(--accent);
  }

  &.isSelected {
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
  }

  small {
    font-weight: 550;
    font-size: 0.8rem;
  }
}

.colorList {
  display: flex;
  overflow: hidden;
  margin: 0.3rem 0 0;
  border-radius: calc(var(--radius) - 4px);

  .colorItem {
    flex: 1;
    height: 1.4rem;
  }
}
