<div id="timetable-page">
  <div class="alert alert-danger hidden" id="clash">
    <strong>Warning!</strong>&nbsp;There are&nbsp;
    <strong class="clash">clashes</strong>&nbsp;in your exam timetable.
  </div>
  <div class="hide-title" id="timetable-wrapper"></div>
  <div class="timetable-controls">
    <div class="row">
      <div id="exam-timetable" class="col-sm-6 col-md-7 col-lg-8"></div>
      <div class="col-sm-6 col-md-5 col-lg-4">
        <div class="row">
          <div class="export-region col-xs-3"></div>
          <div class="show-hide-region col-xs-9"></div>
        </div>
        <div class="row">
          <div class="url-sharing-region col-xs-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
