<div class="alert alert-danger hidden" id="clash">
  <strong>Warning!</strong>&nbsp;There are&nbsp;
  <strong class="clash">clashes</strong>&nbsp;in your exam timetable.
</div>
<div class="hide-title" id="timetable-wrapper">
  <table id="timetable">
    <colgroup></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <tbody>
      <tr id="times">
        <th><div>0800</div></th>
        <th colspan="2"><div>0900</div></th>
        <th colspan="2"><div>1000</div></th>
        <th colspan="2"><div>1100</div></th>
        <th colspan="2"><div>1200</div></th>
        <th colspan="2"><div>1300</div></th>
        <th colspan="2"><div>1400</div></th>
        <th colspan="2"><div>1500</div></th>
        <th colspan="2"><div>1600</div></th>
        <th colspan="2"><div>1700</div></th>
        <th colspan="2"><div>1800</div></th>
        <th colspan="2"><div>1900</div></th>
        <th colspan="2"><div>2000</div></th>
        <th colspan="2"><div>2100</div></th>
        <th colspan="2"><div>2200</div></th>
        <th colspan="2"><div>2300</div></th>
        <th colspan="2"><div>0000</div></th>
      </tr>
    </tbody>
    <tbody class="day" id="mon">
      <tr>
        <th rowspan="2"><div>M<br>O<br>N</div></th>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
      <tr>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
    </tbody>
    <tbody class="day" id="tue">
      <tr>
        <th rowspan="2"><div>T<br>U<br>E</div></th>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
      <tr>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
    </tbody>
    <tbody class="day" id="wed">
      <tr>
        <th rowspan="2"><div>W<br>E<br>D</div></th>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
      <tr>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
    </tbody>
    <tbody class="day" id="thu">
      <tr>
        <th rowspan="2"><div>T<br>H<br>U</div></th>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
      <tr>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
    </tbody>
    <tbody class="day" id="fri">
      <tr>
        <th rowspan="2"><div>F<br>R<br>I</div></th>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
      <tr>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
    </tbody>
    <tbody class="day" id="sat">
      <tr>
        <th rowspan="2"><div>S<br>A<br>T</div></th>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
      <tr>
        <td class="h08 m00"></td>
        <td class="h08 m30"></td>
        <td class="h09 m00"></td>
        <td class="h09 m30"></td>
        <td class="h10 m00"></td>
        <td class="h10 m30"></td>
        <td class="h11 m00"></td>
        <td class="h11 m30"></td>
        <td class="h12 m00"></td>
        <td class="h12 m30"></td>
        <td class="h13 m00"></td>
        <td class="h13 m30"></td>
        <td class="h14 m00"></td>
        <td class="h14 m30"></td>
        <td class="h15 m00"></td>
        <td class="h15 m30"></td>
        <td class="h16 m00"></td>
        <td class="h16 m30"></td>
        <td class="h17 m00"></td>
        <td class="h17 m30"></td>
        <td class="h18 m00"></td>
        <td class="h18 m30"></td>
        <td class="h19 m00"></td>
        <td class="h19 m30"></td>
        <td class="h20 m00"></td>
        <td class="h20 m30"></td>
        <td class="h21 m00"></td>
        <td class="h21 m30"></td>
        <td class="h22 m00"></td>
        <td class="h22 m30"></td>
        <td class="h23 m00"></td>
        <td class="h23 m30"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="timetable-controls">
  <div class="row">
    <div class="col-xs-3 col-sm-1">
      <div class="btn-group dropup" id="export-timetable">
        <button class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown">
          <i class="fa fa-share"></i>&nbsp;Export
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a download="My NUSMods.com Timetable.xls" href="#" id="xls-file">
              <i class="fa fa-file-excel-o fa-fw"></i>&nbsp;Excel File
            </a>
          </li>
          <li>
            <a download="My NUSMods.com Timetable.html" href="#" id="html-file">
              <i class="fa fa-file-code-o fa-fw"></i>&nbsp;HTML File
            </a>
          </li>
          <li>
            <a download="My NUSMods.com Timetable.ics" href="#" id="ical-file">
              <i class="fa fa-calendar fa-fw"></i>&nbsp;iCalendar File (.ics)<br>
              (For Google Calendar / iCal / Outlook)
            </a>
          </li>
          <li>
            <a href="#" id="jpg-file">
              <i class="fa fa-file-image-o fa-fw"></i>&nbsp;Image File (.jpg)
            </a>
          </li>
          <li>
            <a href="#" id="pdf-file">
              <i class="fa fa-file-pdf-o fa-fw"></i>&nbsp;PDF File
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-1 hidden-xs share-label">
      <label>Share</label>
    </div>
    <div class="col-xs-9 col-sm-4">
      <div class="input-group input-group-sm">
        <span class="input-group-btn">
          <button class="btn btn-default" id="copy-to-clipboard" type="button">
            <i class="fa fa-clipboard fa-lg"></i>
          </button>
        </span>
        <input id="short-url" class="form-control" placeholder="Click to get short URL"
               readonly type="url">
        <span class="input-group-btn">
          <button class="btn btn-default" id="share-email" type="button">
            <i class="fa fa-envelope fa-lg"></i>
          </button>
          <button class="btn btn-default" id="share-facebook" type="button">
            <i class="fa fa-facebook-square fa-lg"></i>
          </button>
          <button class="btn btn-default" id="share-twitter" type="button">
            <i class="fa fa-twitter fa-lg"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <label>Show / Hide</label>
      <div class="btn-group btn-group-sm" data-toggle="buttons-checkbox">
        <button class="btn btn-default active" type="button">Code</button>
        <button class="btn btn-default active" type="button">Group</button>
        <button class="btn btn-default active" type="button">Room</button>
        <button class="btn btn-default" type="button">Title</button>
        <button class="btn btn-default active" type="button">Week</button>
      </div>
    </div>
    <div class="col-sm-2">
      <label>Theme</label>
      <select class="form-control" id="theme-options">
        <option value="default">Default</option>
        <option value="amelia">Amelia</option>
        <option value="cerulean">Cerulean</option>
        <option value="darkly">Darkly</option>
        <option value="flatly">Flatly</option>
        <option value="readable">Readable</option>
        <option value="simplex">Simplex</option>
        <option value="slate">Slate</option>
        <option value="superhero">Superhero</option>
        <option value="united">United</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div id="exam-timetable" class="col-sm-6"></div>
    <div class="col-sm-6">
      <div id="selected-mods"></div>
      <div id="select2"></div>
    </div>
  </div>
</div>
