<div class="input-group input-group-sm">
  <span class="input-group-btn">
    <button class="btn btn-default" id="copy-to-clipboard" type="button">
      <i class="fa fa-clipboard fa-lg"></i>
    </button>
  </span>
  <input id="short-url" class="form-control" placeholder="Click to get short URL for sharing" type="url">
  <span class="input-group-btn">
    <button class="btn btn-default" id="share-email" type="button">
      <i class="fa fa-envelope fa-lg"></i>
    </button>
    <button class="btn btn-default" id="share-facebook" type="button">
      <i class="fa fa-facebook-square fa-lg"></i>
    </button>
    <button class="btn btn-default" id="share-twitter" type="button">
      <i class="fa fa-twitter fa-lg"></i>
    </button>
  </span>
</div>
