@import '~styles/utils/modules-entry.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 1rem;
} 

.faqTitle {
  margin-top: 4rem;
  font-weight: 600;
  font-size: 1.5rem;
}