@import '~styles/utils/modules-entry.scss';

.dropdown {
  position: relative;
  display: inline-block;

  .dropdownButton {
    padding-right: 0.5rem;

    .btnSvg {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}

.dropdownMenu {
  position: fixed;
  z-index: calc($modal-z-index + 10);
  list-style-type: none;
  padding: 0;
  margin: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
}
