@import './_variables.scss';

$color: var(--success);

.highlight {
  position: absolute;
  height: 100%;
  border: 1px solid var(--success);
  background: color-mix(in sRGB, var(--success), transparent 60%);

  @include vertical-mode {
    right: 0;
    left: 0;
    height: auto;
  }
}
