<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="nm-page-heading">Bare Nusessities</h1>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <iframe class="nm-bare-nusessities-iframe" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FBare.Nusessities&amp;width=600&amp;height=1000&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=1524196174461544" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:600px; height:1000px;" allowTransparency="true"></iframe>
      </div>
      <div class="col-md-4">
        <iframe src="//www.facebook.com/plugins/facepile.php?app_id&amp;href=https%3A%2F%2Fwww.facebook.com%2FBare.Nusessities&amp;action&amp;width=300&amp;height&amp;max_rows=10&amp;colorscheme=light&amp;size=large&amp;show_count=true&amp;appId=1524196174461544" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:1000px;" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>
