<thead>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Module Credits</th>
    <th class="exam-time">Exam Time</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody></tbody>
<tfoot>
  <tr>
    <td colspan="2" class="total-module-credits">
      Total Module Credits for Semester <i class="nm-help highlight thin fa fa-question-circle" title="Take note that certain modules (except dissertations) that span across multiple semesters have their MCs counted in full here."></i>
    </td>
    <td>
      <span id="js-nm-total-mc">0</span>
    </td>
    <td colspan="2"></td>
  </tr>
</tfoot>
