<td>{{id}}
<td>{{ModuleTitle}}
<td>{{examStr}}
<td>
  <a href="#" class="plain show-hide" title="Show/Hide">
    <i class="fa fa-eye fa-lg"></i>
  </a>
  <a href="/modules/{{id}}" class="plain" title="Details">
    <i class="fa fa-info-circle fa-lg"></i>
  </a>
  <a href="#" class="plain remove" title="Remove">
    <i class="fa fa-times-circle fa-lg"></i>
  </a>
