<thead>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Module Credits</th>
    <th class="exam-time">Exam Time</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody></tbody>
<tfoot>
  <tr>
    <td colspan="5" class="total-module-credits">
      Total Module Credits:
      <span id="js-nm-total-mc"></span>
    </td>
  </tr>
</tfoot>
