<div class="btn-group dropup">
  <button class="btn btn-default btn-sm dropdown-toggle"
          data-toggle="dropdown">
    <i class="fa fa-share"></i>
    <span class="hidden-xxs">&nbsp;Export&nbsp;<span class="caret"></span></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a download="My NUSMods.com Timetable.xls" href="#" data-export-type="xls-file">
        <i class="fa fa-file-excel-o fa-fw"></i>&nbsp;Excel File
      </a>
    </li>
    <li>
      <a download="My NUSMods.com Timetable.html" href="#" data-export-type="html-file">
        <i class="fa fa-file-code-o fa-fw"></i>&nbsp;HTML File
      </a>
    </li>
    <li{{#if isSpecialTerm}} class="disabled"{{/if}}>
      <a download="My NUSMods.com Timetable.ics" href="#" data-export-type="ical-file">
        <i class="fa fa-calendar fa-fw"></i>&nbsp;iCalendar File (.ics)<br>
        (For Google Calendar / iCal / Outlook)
      </a>
    </li>
    <li class="horiz-menu">
      <a href="#" class="col-xs-8" data-export-type="jpg-file" data-image-size="1" title="Normal">
        <i class="fa fa-file-image-o fa-fw"></i>&nbsp;Image File (.jpg)
        <i class="fa fa-picture-o icon-image-normal"></i>
      </a>
      <a href="#" class="col-xs-2" data-export-type="jpg-file" data-image-size="2" title="Big">
        <i class="fa fa-picture-o icon-image-big"></i>
      </a>
      <a href="#" class="col-xs-2" data-export-type="jpg-file" data-image-size="3" title="Large">
        <i class="fa fa-picture-o icon-image-large"></i>
      </a>
    </li>
    <li>
      <a href="#" data-export-type="pdf-file">
        <i class="fa fa-file-pdf-o fa-fw"></i>&nbsp;PDF File
      </a>
    </li>
  </ul>
</div>
