<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Add <span class="hidden-sm">module </span>to timetable</div>
        <input type="text" class="form-control timetable-input" placeholder="Search through modules">
      </div>
    </div>
  </div>
</div>
