<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control timetable-input" placeholder="Search through modules">
        <div class="input-group-addon">Add to Timetable</div>
      </div>
    </div>
  </div>
</div>
