{{#each items}}
  <a class="btn btn-default {{#if active}} active{{/if}}" href="{{url}}">
    <span class="hidden-xxs">{{label}}</span>
    <span class="visible-xxs-inline">{{shortLabel}}</span>
  </a>
{{/each}}
