{{#each items}}
  <li{{#if active}} class="active"{{/if}}>
    <a href="{{url}}">
      <span class="hidden-xxs">{{label}}</span>
      <span class="visible-xxs-inline">{{shortLabel}}</span>
    </a>
  </li>
{{/each}}
