<div id="shared-timetable-alert" class="alert alert-warning" role="alert">
  <strong>Shared timetable!</strong> You may make changes but they won't be
  saved. Do you want to restore your saved timetable or replace it with this
  shared timetable?
  <a href="/timetable" data-bypass class="btn btn-success btn-sm restore">Restore</a>
  <button class="btn btn-danger btn-sm replace">Replace</button>
</div>
