<div class="btn-group btn-group-sm" data-toggle="buttons">
  <button class="btn btn-default active">
    <input type="checkbox" checked> Code
  </button>
  <button class="btn btn-default active">
    <input type="checkbox" checked> Group
  </button>
  <button class="btn btn-default active">
    <input type="checkbox" checked> Room
  </button>
  <button class="btn btn-default">
    <input type="checkbox"> Title
  </button>
  <button class="btn btn-default active">
    <input type="checkbox" checked> Week
  </button>
</div>
