<div class="nm-show-hide btn-group btn-group-sm" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="checkbox" checked> Code
  </label>
  <label class="btn btn-default active">
    <input type="checkbox" checked> Group
  </label>
  <label class="btn btn-default active">
    <input type="checkbox" checked> Room
  </label>
  <label class="btn btn-default">
    <input type="checkbox"> Title
  </label>
  <label class="btn btn-default active">
    <input type="checkbox" checked> Week
  </label>
</div>
