<div id="nm-timetable">
  <div class="semester-selector-region"></div>
  <div class="panel">
    <div class="panel-body">
      <div class="shared-timetable-controls-region"></div>
      <div class="alert alert-danger hidden" id="clash">
        <strong>Warning!</strong>&nbsp;There are&nbsp;
        <strong class="clash">clashes</strong>&nbsp;in your exam timetable.
      </div>
      <div class="hide-title" id="timetable-wrapper"></div>
      <div class="timetable-controls">
        <div class="row">
          <div class="col-sm-6 col-md-7 col-lg-8">
            <div class="select-region"></div>
            <div id="exam-timetable"></div>
            <div class="tips-region"></div>
          </div>
          <form role="form" class="col-sm-6 col-md-5 col-lg-4">
            <div class="form-group clearfix">
              <div class="export-region pull-left"></div>
              <div class="show-hide-region pull-right"></div>
            </div>
            <div class="form-group">
              <div class="url-sharing-region"></div>
            </div>
            <div class="hidden-xs">
              <div class="fb-page" data-href="https://www.facebook.com/NUSMods" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" data-width="100%">
                <div class="fb-xfbml-parse-ignore"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
