<div id="timetable-page">
  <div class="shared-timetable-controls-region"></div>
  <div class="alert alert-danger hidden" id="clash">
    <strong>Warning!</strong>&nbsp;There are&nbsp;
    <strong class="clash">clashes</strong>&nbsp;in your exam timetable.
  </div>
  <div class="hide-title" id="timetable-wrapper"></div>
  <div class="timetable-controls">
    <div class="row">
      <div class="col-sm-6 col-md-7 col-lg-8">
        <div id="exam-timetable"></div>
        <div class="form-group alert alert-warning hidden-xs">
          <span class="help-block"><span class="highlight">Tip:</span> Use the <span class="highlight">&#8592;</span> and <span class="highlight">&#8594;</span> arrow keys to switch between theme colours of the timetable and press <span class="highlight">X</span> to toggle between light and dark modes!</span>
        </div>
      </div>
      <form role="form" class="col-sm-6 col-md-5 col-lg-4">
        <div class="form-group">
          <div class="select-region"></div>
        </div>
        <div class="form-group clearfix">
          <div class="export-region pull-left"></div>
          <div class="show-hide-region pull-right"></div>
        </div>
        <div class="form-group">
          <div class="url-sharing-region"></div>
        </div>
        <div>
          <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FNUSMods&amp;width&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=491857110934417" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:448px; width: 100%" allowTransparency="true"></iframe>
        </div>
      </form>
    </div>
  </div>
</div>
