<div class="form-group alert alert-warning hidden-xs">
  <div class="help-block">
    <h5 class="highlight">Tip of the Day!</h5>
    <p>{{{selectedTip.message}}}</p>
    <h6><a class="highlight js-next-tip">Show Next Tip &#8594;</a></h6>
  </div>
</div>