$breakpoint: map-get($grid-breakpoints, 'md');

$timetable-background: #fff;
$timetable-row-height: 60px;
$timetable-width: 100%;
$timetable-min-width: $breakpoint;
$timetable-border: 1px solid #ccc;
$timetable-cell-padding: 3px;

.timetable-container {
  position: relative;
}

.timetable {
  align-items: stretch;
  display: flex;
  min-width: $timetable-min-width;
  width: $timetable-width;
  z-index: 1;

  &.timetable-bg {
    background-color: $timetable-background;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

    .timetable-day {
      border-bottom: none;
    }

    .timetable-day,
    .timetable-day-row {
      height: 100%;
    }

    .timetable-cell-alt {
      background-color: #f1f1f1;
    }
  }

  .timetable-day {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  .timetable-day-row {
    display: flex;
  }

  .timetable-cell {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;

    &.timetable-day-cell {
      flex-grow: 2;
    }
  }

  @media (min-width: ($breakpoint + 1px)) {
    border-top: $timetable-border;
    flex-direction: column;

    .timetable-day {
      border-bottom: $timetable-border;
      flex-direction: column;
    }

    .timetable-day-row {
      flex-direction: row;
      height: $timetable-row-height;
    }

    .timetable-cell {
      width: 0;
    }
  }

  @media (max-width: $breakpoint) {
    border-left: $timetable-border;
    flex-direction: row;
    height: 1000px;

    .timetable-day {
      border-right: $timetable-border;
      flex-direction: row;
      height: auto;
    }

    .timetable-day-row {
      flex-direction: column;
      width: 100%;
    }

    .timetable-cell {
      width: 100%;
    }
  }

  .timetable-module-cell {
    $smaller-text: 0.6rem;

    background-color: rgba(156, 252, 92, 0.6);
    border-left: 2px solid #63df11;
    font-size: $font-size-xs;
    height: 100%;
    line-height: 0.85rem;
    padding-left: $timetable-cell-padding;
    padding-top: $timetable-cell-padding;
    text-align: left;

    .cell-module-code {
      font-weight: bold;
    }

    .cell-module-lesson-type {
      font-size: $font-size-xxs;
    }

    .cell-module-group {
      font-size: $font-size-xxs;
    }

    .cell-module-venue {
      font-size: $font-size-xxs;
    }
  }
}
