@import '~styles/utils/modules-entry';

:global(.page-container).settingsPage {
  max-width: 60rem;
  margin-left: 0;

  :global {
    animation-name: $page-entering-animation;
  }

  // Styles nested for specificity
  @include media-breakpoint-down(xs) {
    .toggleRow {
      flex-wrap: nowrap;

      .toggleDescription {
        flex: 1 1 auto;
      }

      .toggle {
        flex: 0 0 auto;
        width: auto;
      }
    }
  }
}

.title {
  margin: 1rem 0 4rem;
  font-size: $font-size-xlg;
}

.preview {
  position: relative;
  clear: both;
  height: 13.8rem;
  margin: 1rem 0 2rem;
  overflow-y: hidden;
}

.themeOption {
  float: left;
  width: 25%;
  margin-bottom: 0.4rem;

  @include media-breakpoint-down('sm') {
    width: 50%;
  }
}
