@import '~styles/utils/modules-entry';

.settingsPage {
  max-width: 50rem;
  margin-left: 0;

  :global {
    animation-name: $page-entering-animation;
  }
}

.setting {
  border-bottom: 1px solid var(--gray-light);
}

@include media-breakpoint-down(xs) {
  .toggleRow {
    flex-wrap: nowrap;
  }

  .toggleDescription {
    flex: 1 1 auto;
  }

  .toggle {
    flex: 0 0 auto;
    width: auto;
  }
}

.preview {
  clear: both;
  padding: 1rem 0;
  margin: 1rem 0;
  overflow: auto;
  border: 1px solid var(--gray-light);
}

.themeOption {
  float: left;
  width: 25%;
  margin-bottom: 0.4rem;

  @include media-breakpoint-down('sm') {
    width: 50%;
  }
}
