<div class="row">
  <div class="col-md-6 col-md-offset-3" id="help">
    <h1 class="nm-page-heading">Help</h1>
    <hr>
    <p>NUSMods has been improved with a ton of cool features along with keyboard shortcuts to make usage easy for power users. </p>
    <br>
    {{#if keyboardShortcuts}}
      <div>
        <h3 class="nm-section-heading">Keyboard Shortcuts</h3>
        <hr>
        {{#each keyboardShortcuts}}
          <div class="row keyboard-shortcuts">
            <div class="col-md-12">
              <h5 class="highlight category-title">{{category}}</h5>
              {{#each shortcuts}}
                <div class="row">
                  <div class="col-md-2">
                    {{#each keys}}
                      <div class="key">{{{this}}}</div>
                    {{/each}}
                  </div>
                  <div class="col-md-3">
                    <strong>{{title}}</strong>
                  </div>
                  <div class="col-md-7">
                    {{{description}}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          <hr class="visible-xs-block visible-sm-block">
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
