<div class="js-nm-friends-add-popover">
  <div class="form-group">
    <label for="name">Name of Friend</label>
    <input type="text" class="form-control" id="name" placeholder="Enter friend's name">
  </div>
  <div class="form-group">
    <label for="url">Timetable URL</label>
    <input type="url" class="form-control" id="url" placeholder="Enter friend's timetable URL">
  </div>
  <button class="btn btn-warning js-add-friend-timetable">Add</button>
</div>
