<a class="js-nm-friends-delete nm-friends-delete">
  <i class="fa fa-trash-o"></i>
</a>
<h5 class="media-heading">
  <input type="checkbox" class="js-nm-friends-select-checkbox" {{#if selected}}checked{{/if}}> &nbsp; 
  {{name}}
</h5>
