<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary js-add-timetable-popover" data-toggle="popover">Add Friends Timetable</button>
      <button type="button" class="btn btn-warning js-merge-timetables">Merge Selected</button>
      <div class="row">
        <div class="col-md-12 nm-friends-list">
        </div>
      </div>
    </div>
    <div class="col-md-9 nm-friends-timetable">
    </div>
  </div>
</div>
