{
  "presets": [
    "es2015",
    "react",
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre",
      ],
    },
    "production": {
      "presets": [
        "react-optimize",
      ],
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"],
    },
  },
  "plugins": [
    "lodash",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
  ],
}
