# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
.nyc_output

# caching
.cache-loader
.eslintcache

# production
dist

# misc
.DS_Store
.env
npm-debug.log
