.menu {
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.35rem;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  color: #6f6f6f;
  background-color: #f4f5f9 !important;
}

@media only screen and (max-width: 576px) {
  .menu {
    font-size: 14px;
  }
}
