.mc {
  grid-area: mc;
  word-wrap: break-word;
  text-align: end;
  font-weight: bold;
}
.module {
  grid-area: module;
  text-align: left;
  font-weight: bold;
}
.rank {
  grid-area: rank;
  text-align: left;
  font-weight: bold;
}

.headerTitle {
  border-bottom: 1px solid var(--gray-lighter);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'rank module mc';
  border-bottom: 1px solid var(--gray-lighter);
}

.container {
  padding-top: 1rem;
}

.SelectContainer {
  margin-top: 2rem;
  border-top: 1px solid var(--gray-lighter);
  padding-top: 2rem;
}

.Status {
  margin-top: 0.5rem;
  text-align: end;
  float: right;
}

.cardContainer {
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  max-width: inherit;
}

.droppableContainer {
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  max-width: inherit;
}

.ErrorButton {
  float: right;
}
