.side {
  align-self: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: bold;
  font-size: 18px;
  text-decoration-line: #c0c0c0;
}
.modulecode {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-weight: bold;
  word-wrap: break-word;
}
.moduletitle {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.mctext {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin-bottom: 0;
  border-radius: 0.35rem;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #c0c0c0;
}

.mc {
  align-content: center;
  align-self: center;
  font-weight: bold;
  white-space: nowrap;
}
.moduletype {
  flex: 1;
  align-self: center;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-top: 2rem;
  border: 1px solid var(--gray-lighter);
  border-radius: 0.35rem;
}

.moduleinfocontainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.modulecontainer {
  display: inline-flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.5rem;
  border-left: 1px solid var(--gray-lighter);
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 14px;
  }
  .modulecontainer {
    min-width: 0;
  }

  .container {
    flex-direction: column;
    padding-left: 0;
  }
  .moduletype {
    padding-right: 0;
    padding-left: 0.5rem;
  }

  .mc {
    align-self: flex-start;
    padding-top: 0.5rem;
  }
}
