.mc {
  display: flex;
  white-space: nowrap;
  font-weight: bold;
}
.module {
  display: flex;
  font-weight: bold;
  flex: 2;
}
.rank {
  display: flex;
  font-weight: bold;
  flex: 1;
}

.headerTitle {
  border-bottom: 1px solid var(--gray-lighter);
  justify-content: space-between;
  display: flex;
}

.container {
  padding-top: 1rem;
}

.SelectContainer {
  margin-top: 2rem;
  border-top: 1px solid var(--gray-lighter);
  padding-top: 2rem;
}

.Status {
  margin-top: 0.5rem;
  text-align: end;
}

.cardContainer {
  padding-right: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: inherit;
}

.droppableContainer {
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  max-width: inherit;
}

.ErrorButton {
  float: right;
}

@media only screen and (max-width: 576px) {
  .Status {
    text-align: center;
  }
}
