.mc {
  display: flex;
  font-weight: bold;
  white-space: nowrap;
}

.module {
  display: flex;
  flex: 2;
  font-weight: bold;
}

.rank {
  display: flex;
  flex: 1;
  font-weight: bold;
}

.card {
  margin-top: 2rem;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-lighter);
}

.container {
  padding-top: 1rem;
}

.selectContainer {
  margin: 1.5rem 0;
}

.status {
  text-align: end;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: inherit;
  padding-right: 0;
}

.droppableContainer {
  display: flex;
  flex-direction: row;
  max-width: inherit;
  padding-right: 0;
}

.maxModulesError {
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid var(--gray-lighter);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.mcTextField {
  display: flex;
  padding: 2rem 0 2rem 0;
  border-top: 1px solid var(--gray-lighter);
}

.textLabel {
  align-self: center;
  margin-right: 1rem;
  margin-bottom: 0;
}

.formContainer {
  padding-top: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 576px) {
  .status {
    text-align: center;
  }
}
