@import "~styles/utils/modules-entry";

.facultyHeading {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.typeHeading {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.facultyRow {
  margin-bottom: 1rem;
}

.quota {
  font-weight: $font-weight-bold;
}

.semester {
  margin-bottom: 2rem;

  .semHeading {
    margin: 1rem 0 0.4rem;
    font-weight: normal;
    font-size: 1.3rem;
    color: var(--gray-light);
  }

  .roundHeading {
    padding-bottom: 0.2rem;
    margin-bottom: 0.4rem;
    font-weight: $font-weight-bold;
    font-size: 1rem;
    border-bottom: 1px solid var(--gray-lighter);
  }
}

.summary {
  h4 {
    margin-bottom: 0.4rem;
    font-weight: $font-weight-bold;
    font-size: 1rem;
    border-bottom: 1px solid var(--gray-lighter);
  }

  p {
    line-height: 1.2;
  }

  .minBid {
    font-size: 1.3rem;
  }

  .roundInfo {
    display: block;
    font-size: 0.8rem;
    color: var(--gray-light);
  }

  .quota {
    font-size: 1.5rem;
  }
}

.detailsHeading {
  padding: 0;
  font-size: 1rem;

  svg {
    width: 1.2rem;
    vertical-align: middle;
  }
}

.details {
  padding: 1rem 1rem 0.4rem;
  background: var(--gray-lightest);

  thead th {
    padding-bottom: 0.1rem;
    font-size: 0.8rem;
    border-top: 0;
  }

  table {
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1;

    th {
      font-weight: $font-weight-base;
      color: var(--gray-light);
    }

    th,
    td {
      border-bottom: 1px solid var(--gray-lighter);
    }
  }

  .noBids {
    font-style: italic;
    color: var(--gray-light);
  }

  .typeHeading {
    margin-top: 0.4rem;
    font-weight: $font-weight-bold;
  }
}
