@import '~styles/utils/modules-entry';

.wrapper {
  width: 100%;
}

.dropdown {
  composes: list-unstyled scrollable-y from global;
  position: absolute;
  z-index: 1;
  max-height: 15rem;
  border: 1px solid var(--gray-light);
  font-size: $font-size-sm;
  color: var(--body-color);
  background: var(--body-bg);

  li {
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem;
    cursor: pointer;

    &.highlightItem {
      color: theme-color();
      background: var(--gray-lightest);
    }
  }
}
