@import '~styles/utils/modules-entry';
@import 'variables';

.module {
  padding: $module-padding-v $module-padding-h;
  margin-bottom: 0.4rem;
  border-bottom: 0.15rem solid darken(theme-color('success'), 10);
  border-radius: 0.35rem;
  font-size: 0.9rem;
  line-height: 1.3;
  color: darken(theme-color('success'), 30);
  background: lighten(theme-color('success'), 3);

  &.warning {
    border-color: darken(theme-color('warning'), 10);
    color: darken(theme-color('warning'), 40);
    background: theme-color('warning');

    .menuBtn :global(.close) {
      color: #000;
    }
  }

  &.isDragging {
    z-index: 1000;
    opacity: 0.7;
  }

  &.placeholder {
    $stripe-light: lighten(theme-color('success'), 3.5);
    $stripe-dark: darken(theme-color('success'), 0.5);

    background-image: repeating-linear-gradient(
      130deg,
      $stripe-light,
      $stripe-light 1rem,
      $stripe-dark 1rem,
      $stripe-dark 2rem
    );
  }
}

.menu {
  width: 12rem;

  &.menuLeft {
    right: 0;
    left: auto;
  }

  &.menuRight {
    right: auto;
    left: 0;
  }
}


.menuBtn {
  position: relative;
  z-index: 1;
  float: right;
  margin: -0.3rem -0.3rem 0 0;

  :global(.close) {
    float: none;
    color: #fff;
  }
}

.moduleMeta {
  display: flex;
  opacity: 0.8;
  justify-content: space-between;
  font-size: 0.8rem;
}

.moduleInfo {
  flex: 1 1 auto;
}

.moduleName {
  margin-bottom: 0.4rem;

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.placeholderName {
  display: block;
  opacity: 0.7;
  margin: 0.2rem 0 0.4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.placeholderSelect {
  padding: 0 0.3rem;
  font-weight: bold;

  &,
  &:hover {
    border: 1px dashed;
    color: inherit;
  }

  &.empty {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
  }

  svg {
    width: 1rem;
  }
}

// .module added for specificity
.module .placeholderInput {
  color: inherit;
  background: transparent;
  resize: none;

  &::placeholder {
    color: rgba(#fff, 0.5);
  }
}

.conflicts {
  padding-top: 0.4rem;
  margin-top: 0.4rem;
  border-top: 1px solid darken(theme-color('warning'), 10);
  font-size: $font-size-s;
  line-height: 1.25;
}

.warningIcon {
  flex: 0 0 1.5rem;
  margin-right: 0.4rem;
}

.conflictHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;

  p {
    margin-bottom: 0;
  }
}

.prereqs {
  padding: 0;
  margin: 0 0 0.2rem 1rem;
}
