@import '~styles/utils/modules-entry';
@import 'variables';

.settings {
  display: flex;
  flex-direction: column;

  section {
    margin-bottom: 1rem;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 0.4rem;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.years {
  composes: list-unstyled from global;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.5rem;

  button {
    height: 100%;
    font-weight: bold;
    line-height: 1.25;
  }

  .subtitle {
    display: block;
    margin-top: 0.2rem;
    font-weight: normal;
    font-size: 0.9rem;
  }
}

.toggleSection {
  display: flex;
  align-items: center;
}
