@import '~styles/utils/modules-entry';
@import 'variables';

.year {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 1.2rem;
  margin-right: $column-gutter;
  border-radius: 0.5rem;
  background: var(--gray-lightest);

  &.currentYear {
    border: 1px solid rgba(theme-color(), 0.5);
    background: rgba(theme-color(), 0.1);
  }
}

.yearHeader {
  display: flex;
  opacity: 0.7;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2rem;

    .acadYear {
      display: block;
      margin-top: 0.1rem;
      font-size: 0.9rem;
    }
  }

  .yearMeta {
    font-size: 0.9rem;
    text-align: right;
  }
}

.semesters {
  display: flex;
  flex: 1 1 auto;
  margin-right: -$column-gutter;
}

.semesterWrapper {
  display: flex;
  flex-direction: column;
}

.semesterHeader {
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.semester {
  flex: 1 1 auto;
}

.hideSemester {
  overflow: hidden;
  max-height: 0;
}

.specialSemToggle {
  text-align: right;

  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
  }
}
