<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Code</th>
    <th>Details</th>
    <th>MC</th>
    <th>Exam</th>
    <th>Department</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
