<div class="col-sm-3" id="sidebar">
  <form class="facet-department form-inline">
    <label>Faculty / Department</label>
  </form>
</div>
<div class="col-sm-9" id="content">
  <form class="facet-mc form-inline">
    <label>MC</label>
  </form>
  <div class="modules"></div>
</div>
<a href="#" id="sidebar-toggle"><i class="fa fa-chevron-left"></i></a>
