@import '~styles/utils/modules-entry';

.inBetweenClass {
  border: 1px solid var(--border);
  background: var(--card);
  box-shadow: 0 2px 8px rgba(#000, 0.04);

  p {
    margin-bottom: 0.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
