@import '~styles/utils/modules-entry';

.lesson {
  display: flex;
  margin-bottom: 1rem;
}

.lessonTime {
  display: flex;
  flex: 0 0 4.8rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem 0;
  font-size: 0.8rem;
  text-align: right;
  text-transform: uppercase;

  p {
    margin: 0 0.8rem 0 0;
  }
}

.card {
  $v-padding: 0.6rem;
  $h-padding: 1rem;

  overflow: hidden;
  flex: 1 0;
  padding: $v-padding $h-padding;
  border-bottom: 0.3rem solid;
  border-radius: 0.8rem;
  font-size: 0.9rem;

  h4 {
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3;
  }

  p {
    margin: 0;
  }

  .venueIcon {
    width: 1rem;
    vertical-align: bottom;
  }

  .map {
    margin: 0.5rem (-$h-padding) (-$v-padding) (-$h-padding);
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;

    h4 {
      font-size: 0.9rem;
    }
  }
}
