<div class="row">
  <div class="col-md-10 col-md-offset-1" id="support">
    <h1 class="nm-page-heading">NUSMods Support</h1>
    <hr>
    <h3>Please use this instant chat service only if you have questions regarding the usage of NUSMods. If you have questions regarding your curriculum, CORS bidding, IVLE or anything unrelated to NUSMods, maybe a more appropriate place to get your answers would be <a href="http://google.com" target="_blank">this</a>.</h3>
    <hr>
    <div id="nm-chat-container"></div>
  </div>
</div>
