{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "iOS >= 9",
            "Safari >= 9",
            "not ie <= 11"
          ],
          // We currently minify with uglify
          // Remove after https://github.com/mishoo/UglifyJS2/issues/448
          "uglify": true,
        },
        // Enable tree-shaking for webpack
        "modules": false,
        "useBuiltIns": true,
      }
    ],
    "react",
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ],
    },
    "production": {
      "presets": [
        "react-optimize",
      ],
    },
    "test": {
      "plugins": [
        "./scripts/babel-plugin-expose-privates",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ],
    },
  },
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
  ],
}
