.modules-page-container {
  max-width: 75rem;
  margin-left: 0;
  animation-name: $page-entering-animation;
}

.module-filters {
  position: fixed;
  top: $navbar-height + 1rem;
  bottom: 0;
  max-width: 16rem;
  overflow: auto;

  h3 {
    margin-bottom: 1rem;
    font-size: $font-size-lg;
    color: var(--gray-light);
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-xs;
  }

  label {
    font-size: $font-size-xs;
    cursor: pointer;

    &:hover {
      color: theme-color();
    }

    &.filter-selected {
      font-weight: bold;
      color: theme-color();
    }

    .text-muted {
      font-weight: normal;
    }
  }

  .module-filters-checklist {
    label {
      display: block;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
    }
  }

  .module-filters-timeslot {
    margin-bottom: 1rem;

    th:not(.module-timeslot-hover) {
      color: var(--gray-light);
    }

    label {
      display: block;
      padding: 0.2rem 0;
      margin: 0;
      text-align: center;
      border: 1px solid transparent;

      &.filter-selected {
        color: #fff;
        background: theme-color();
      }

      &:hover {
        border-color: theme-color();
      }
    }
  }

  @include media-breakpoint-down(sm) {
    $v-padding: 0.6rem;
    $h-padding: $grid-gutter-width / 2;

    top: auto;
    right: 0;
    z-index: $module-finder-z-index;
    max-width: 20rem;
    height: $font-size-lg + 2rem;
    overflow: hidden;
    background: var(--body-bg);
    box-shadow: 0 0 15px -3px rgba(#000, 0.4);

    header {
      padding: 1rem $h-padding;
    }

    h3 {
      margin-bottom: 0;
      color: var(--gray);
    }

    h4 {
      padding: $v-padding $h-padding;
      font-size: $font-size-sm;
      border-bottom: 1px solid var(--gray-lighter);
    }

    label {
      font-size: $font-size-sm;
    }

    .module-filters-checklist {
      label {
        padding: $v-padding $h-padding $v-padding ($h-padding + 20px);
        border-bottom: 1px solid var(--gray-lighter);
      }
    }

    .module-filters-timeslot {
      h4 {
        border-bottom: 0;
      }

      th {
        font-size: $font-size-sm;
      }

      label {
        padding: $v-padding 0;
      }
    }

    &:hover {
      top: $navbar-height + 5rem;
      height: auto;
      overflow: auto;
    }
  }
}

.modules-list {
  padding: 0;
  margin: 0;
  list-style: none;

  mark {
    padding: 0.2em 0;
    color: inherit;
    border-bottom: 1px solid $yellow;
  }

  .modules-item {
    margin-bottom: 3rem;
  }

  .modules-title {
    margin-top: 0.15rem; // align baseline with semester switcher
    font-size: $font-size-lg;
  }
}

.module-page-divider {
  padding: 0.6rem;
  margin: 1rem 0;
  font-size: $font-size-sm;
  text-align: right;
  color: var(--gray);
  border-bottom: 1px solid var(--gray-lighter);
}

// Semester Info
.module-semester-container {
  margin-bottom: 1rem;

  section {
    margin-bottom: 1rem;
  }

  .btn-group {
    // Make the btn-group children fill up all available space
    display: flex;
    margin-bottom: 1rem;

    .btn {
      flex: 1 auto;
      padding: 0.4rem 0 0.3rem;
      margin-right: 3px;
      font-size: $font-size-xs;
      border-width: 0 0 0.1rem;
      border-radius: 0;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:disabled {
        color: var(--gray);
        border-color: var(--gray-light);
        cursor: not-allowed;
      }
    }
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-sm;
  }

  .module-timeslots {
    .module-timeslot-time {
      line-height: 2;
    }

    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: 2rem;

      // Timeslot has both lecture and tutorial - we create a split cell effect
      // with a skew to show that it is on the same day (if the edge is straight
      // it may look like the edge of a cell)
      &.workload-lecture-bg + .workload-tutorial-bg {
        transform: skewX(-45deg) translateX(50%);
      }
    }
  }

  // Add a little space above the
  @include media-breakpoint-only(md) {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// Workload
.module-workload-container {
  margin-bottom: 1rem;

  h4 {
    font-weight: bold;
    font-size: $font-size-sm;
  }
}
