

// Pre-requisites Tree
.nm-prerequisites-tree {
  #nm-prerequisites-tree-canvas {
    min-height: 400px;
    border: 2px solid #eee;
  }

  #svg {
    cursor: move;
  }

  .opaque {
    opacity: 1;
  }

  .transparent {
    opacity: 0;
  }

  .translucent {
    opacity: 0.3;
  }

  .opacity-transition {
    transition: opacity 0.5s ease-in-out;
  }

  .link {
    fill: none;
    stroke: #000;
  }

  .rect {
    stroke: black;
    stroke-width: 1.5;
  }

  .mod-rect {
    transition: opacity 0.25s ease, fill 0.25s ease;
    fill: theme-color('primary');
  }

  .andor-rect {
    opacity: 0 !important;
    cursor: default;
  }

  .current-mod-rect {
    fill: #6930ff;
  }

  .active-rect {
    fill: #ccc;
  }

  .rect-label {
    font-weight: bold;
    pointer-events: none;
    fill: #000;
    text-anchor: middle;
  }

  .andor-label {
    font-size: 50px !important;
  }

  .linkable-mod {
    cursor: pointer;
  }

  .non-linkable-mod {
    cursor: not-allowed;
  }
}
