.module-container {
  $header-margin-top: 1rem;

  .header-row {
    margin-top: $header-margin-top;
  }

  header {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray-lighter;

    p {
      margin-bottom: 0;
    }
  }

  .page-title {
    margin: 0 0 0.5rem;
    font-size: $font-size-xlg;
  }

  .page-title-module-code {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: $font-size-xlg * 1.2;
    color: theme-color();
  }

  h2 {
    padding-bottom: 0.4rem;
    margin: 0 0 0.4rem;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid $gray-lighter;
  }

  h3 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
  }

  dt {
    font-size: $font-size-sm;
  }

  .scroll-menu-item-wrapper {
    // Account for the fixed header's height. If this is not done, when side menu links are
    // clicked a portion of the content will be clipped by the fixed header.
    padding-top: $navbar-height + 1rem;
  }

  #details {
    margin-top: -($navbar-height + 1rem);
  }

  .module-side-menu {
    position: sticky;
    top: $navbar-height + 1rem;
    margin-top: 0.4rem;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    a {
      display: block;
      padding: 0.4rem 0 0.4rem 1rem;
      color: $gray-light;
      border-left: 0.3rem solid $gray-lighter;
    }

    .scroll-menu-link-active a {
      font-weight: bold;
      color: theme-color();
      border-color: theme-color();
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .page-title,
    .page-title-module-code {
      font-size: $font-size-xlg * $sm-font-size-ratio;
    }

    header {
      margin: 0.4rem 0 1rem;
    }

    h2,
    h3 {
      font-size: 1rem * $sm-font-size-ratio;
    }

    h2 {
      padding-bottom: 0.3rem;
    }
  }
}

// Pre-requisites Tree
.nm-prerequisites-tree {
  #nm-prerequisites-tree-canvas {
    min-height: 400px;
    border: 2px solid #eee;
  }

  #svg {
    cursor: move;
  }

  .opaque {
    opacity: 1;
  }

  .transparent {
    opacity: 0;
  }

  .translucent {
    opacity: 0.3;
  }

  .opacity-transition {
    transition: opacity 0.5s ease-in-out;
  }

  .link {
    fill: none;
    stroke: #000;
  }

  .rect {
    stroke: black;
    stroke-width: 1.5;
  }

  .mod-rect {
    fill: theme-color('primary');
    transition: opacity 0.25s ease, fill 0.25s ease;
  }

  .andor-rect {
    opacity: 0 !important;
    cursor: default;
  }

  .current-mod-rect {
    fill: #6930ff;
  }

  .active-rect {
    fill: #ccc;
  }

  .rect-label {
    font-weight: bold;
    fill: #000;
    pointer-events: none;
    text-anchor: middle;
  }

  .andor-label {
    font-size: 50px !important;
  }

  .linkable-mod {
    cursor: pointer;
  }

  .non-linkable-mod {
    cursor: not-allowed;
  }
}
