.modules-page-container {
  animation-name: $page-entering-animation;
}

.module-filters {
  position: fixed;
  top: $navbar-height + 1rem;
  bottom: 0;
  overflow: auto;

  h3 {
    margin-bottom: 1rem;
    font-size: $font-size-lg;
    color: $gray-light;
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-xs;
  }

  label {
    font-size: $font-size-xs;

    &:hover {
      color: theme-color();
    }
  }

  .module-filters-timeslot {
    margin-bottom: 1rem;

    label {
      display: block;
      padding: 0.2rem 0;
      margin: 0;
      text-align: center;
      border: 1px solid transparent;

      &.filter-selected {
        color: #fff;
        background: theme-color();
      }

      &:hover {
        border-color: theme-color();
      }
    }
  }

  @include media-breakpoint-down(sm) {
    top: auto;
    right: 0;
    left: 0;
    z-index: $module-finder-z-index;
    height: 3rem;
    padding: 1rem $grid-gutter-width / 2;
    overflow: hidden;
    background: $body-bg;
    box-shadow: 0 0 15px -3px rgba(#000, 0.4);

    &:hover {
      top: $navbar-height + 5rem;
      height: auto;
    }
  }
}

.module-filters-active {
  margin-bottom: 1rem;
  color: $gray;
  border-bottom: 1px solid $gray-light;

  h3 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: $font-size-sm;

    span {
      padding-right: 0.2rem;
      background: $body-bg;
    }

    &::after {
      content: '';
      display: block;
      margin-top: -0.6rem;
      border-bottom: 1px solid $gray-light;
    }
  }

  ul {
    margin-bottom: 1rem;
  }

  li {
    line-height: 1.6;
  }

  h4 {
    display: inline-block;
    margin-right: 0.3rem;
    font-weight: bold;
    font-size: $font-size-xs;
  }

  button {
    padding: 0.08rem 0.3rem;
    margin-right: 0.2rem;
    font-size: $font-size-xs;
  }
}

.modules-list {
  display: inline-block;
  padding: 0;
  list-style: none;

  .modules-item {
    padding: 1rem 0;
    margin: 0.5rem 0;

    footer {
      padding-top: 0.8rem;
      margin-top: 0.8rem;
      border-top: 1px solid $gray-lighter;
    }
  }

  .modules-title {
    font-size: 1.25rem;
  }
}

.module-page-divider {
  padding: 0.2rem;
  margin: 3rem 0 1rem;
  font-size: $font-size-sm;
  text-align: right;
  color: $gray-light;
  border-bottom: 1px solid $gray-lighter;
}

.btn + div .module-page-divider {
  // Reduce top gap when the divider is the first thing below a 'previous page' button
  margin-top: 1rem;
}

// Semester Info
.module-semester-container {
  margin-bottom: 1rem;

  section {
    margin-bottom: 1rem;
  }

  .btn-group {
    // Make the btn-group children fill up all available space
    display: flex;
    margin-bottom: 1rem;

    .btn {
      flex: 1 auto;
      padding-right: 0;
      padding-bottom: 0.1rem;
      padding-left: 0;
      margin-right: 3px;
      font-size: $font-size-xs;
      border-width: 0 0 3px;
      border-radius: 0;

      &:last-child {
        margin-right: 0;
      }

      &:disabled {
        color: $gray;
        border-color: $gray-light;
        cursor: not-allowed;
      }
    }
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-sm;
  }

  @include media-breakpoint-only(md) {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// Workload
.module-workload-container {
  margin-bottom: 1rem;

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-sm;
  }
}

.module-workload {
  display: flex;
  flex-wrap: wrap;

  .module-workload-component {
    overflow: hidden;
  }

  .module-workload-label {
    font-weight: bold;
    font-size: $font-size-xs;
  }

  .module-workload-blocks {
    display: flex;
    margin-bottom: 1px;

    div {
      flex: 1 auto;
      height: 30px;
      margin-right: 1px;
    }
  }
}

// Timeslot
.module-timeslot-table {
  // HACK: -1px is for Blink (Chrome/Chromium), which incorrectly calculates width
  // by including the border-right width on the th below, causing the table to have
  // a width of 100% + 1px and thus overflowing
  width: calc(100% - 1px);
  table-layout: fixed;

  th {
    font-weight: normal;
    font-size: $font-size-xs;

    &:first-child {
      border-right: 1px solid $gray-lighter;
    }
  }

  thead th {
    border-bottom: 1px solid $gray-lighter;
  }

  .module-timeslot-time-label {
    padding-right: 0.2rem;
    text-align: right;
  }

  .module-timeslot-day-label {
    text-align: center;
  }

  td {
    position: relative;
    padding: 0;
    overflow: hidden;
    border: 1px solid $white;

    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      // Timeslot has both lecture and tutorial - we create a split cell effect
      // with a skew to show that it is on the same day (if the edge is straight
      // it may look like the edge of a cell)
      &.workload-lecture-bg + .workload-tutorial-bg {
        transform: skewX(-45deg) translateX(50%);
      }
    }
  }
}
