.settings-container {
  .theme-item {
    $theme-selected-bg-color: #ddd;
    $theme-hover-bg-color: #eee;

    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color $desktop-entering-duration $material-deceleration-curve;

    &:hover {
      background-color: $theme-hover-bg-color;
    }

    &.is-selected {
      background-color: $theme-selected-bg-color;
    }
  }
}

.theme-color-list {
  $number-colors: 8;

  .theme-color-item {
    $size: 100% / $number-colors;

    display: inline-block;
    padding-bottom: $size;
    width: $size;
  }
}
