.settings-page-container {
  $theme-selected-bg-color: $gray-lighter;
  $theme-hover-bg-color: $gray-lightest;
  $theme-option-gap: 10px;

  animation-name: $page-entering-animation;

  .theme-option-container {
    float: left;
    margin-bottom: $theme-option-gap;
    width: 25%;

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      width: 50%;
    }
  }

  .theme-option {
    border-radius: 6px;
    cursor: pointer;
    padding: $theme-option-gap;
    transition: background-color $desktop-entering-duration $material-deceleration-curve;

    &:hover {
      background-color: $theme-hover-bg-color;
    }

    &.is-selected {
      background-color: $theme-selected-bg-color;
    }
  }
}

.theme-color-list {
  $number-colors: 8;

  .theme-color-item {
    $size: 100% / $number-colors;

    display: inline-block;
    padding-bottom: $size;
    width: $size;
  }
}
