.modules-table {
  font-size: 0.9rem;

  .modules-table-row {
    margin-bottom: 0.7rem;
  }

  .modules-table-row-inner {
    position: relative;
  }

  .color-column {
    display: table-cell;
    vertical-align: top;
  }

  .module-details-column {
    display: table-cell;
    width: 10000px;
    vertical-align: top;
  }

  .modules-table-color {
    $size: 20px;

    width: $size;
    height: $size;
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
}
