@import '~styles/utils/modules-entry';

.announcement {
  z-index: 1;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem 1.1rem 1.4rem;
  line-height: 1.3;

  h3 {
    margin-bottom: 0.5rem;
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
  }

  .body {
    margin-right: 0.5rem;

    a:hover {
      text-decoration: underline;
    }

    .bodyElement {
      margin-bottom: 0.4rem;

      ul {
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    .bodyElement:last-child {
      margin-bottom: 0;
    }
  }

  .actions {
    margin-top: 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem 0.75rem 1rem;
  }
}

.buttons {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 0.5rem;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    width: 100%;
    margin-top: 0.75rem;
    gap: 0.4rem;
  }
}

.actionButton {
  font-size: 0.8rem;
}
