@import '~styles/utils/modules-entry';

.buttonGroup {
  position: relative;
  display: inline-flex;

  &.block {
    display: flex;
    width: 100%;
  }

  > button {
    height: auto;
    min-height: 3rem;
  }
  :global(.ui-button) {
    line-height: 1.2;
  }

  > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  strong {
    font-size: 1em;
  }

  .dropdownTrigger {
    flex: 0 0 auto;
    width: 2rem;
    padding: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include media-breakpoint-down(sm) {
      // Long selector for specificity
      width: 3rem;
    }
  }
}

.dropdownItem {
  text-align: center;
  white-space: normal;

  br {
    display: none;
  }

  strong {
    font-size: 1em;
  }
}

.block {
  flex: 1;
  width: 100%;
}
