@import '~styles/utils/modules-entry';

.buttonGroup {
  :global(.btn) {
    line-height: 1.2;
  }

  strong {
    font-size: 1.2em;
  }

  :global(.dropdown-toggle.dropdown-toggle-split) {
    width: 2rem;
    border-left: none;

    @include media-breakpoint-down(sm) {
      // Long selector for specificity
      width: 3rem;
    }
  }
}

.dropdownMenu {
  width: 100%;

  .dropdownItemContents {
    width: 100%;
    text-align: center;
    white-space: normal;

    br {
      display: none;
    }

    strong {
      font-size: 1em;
    }
  }
}
