@import '~styles/utils/modules-entry';

// Semester Info
.moduleSemesterContainer {
  margin-bottom: 1rem;

  section {
    margin-bottom: 1rem;
  }

  :global(.ui-toggle-group) {
    display: flex;
    margin-bottom: 1rem;

    :global(.ui-toggle-group-item) {
      flex: 1 auto;
      min-width: 0;
      padding: 0.35rem 0.25rem;
      font-size: $font-size-xs;
    }
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-sm;

    &.specialTermExam {
      margin-top: 1rem;
    }
  }

  .moduleExam p {
    margin-bottom: 0;
  }

  // Add a little space above the
  @include media-breakpoint-only(md) {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
