@import '~styles/utils/modules-entry';

.pageContainer {
  composes: page-container from global;
  height: 100%;

  :global {
    animation-name: $page-entering-animation;
  }
}

.header {
  h1 {
    margin: 1rem 0 0;
    font-size: $font-size-xlg;
  }
}

.yearWrapper {
  display: flex;
  height: 100%;
  margin: 2rem 0;
  overflow: auto;
}

.moduleLists {
  display: flex;
}

.modListHeaders {
  font-size: 1.2rem;
  text-align: center;
}

.trash {
  opacity: 0.6;
  width: 12.5rem;
  text-align: center;
  color: theme-color('danger');
  border: 1px dashed theme-color('danger');
  border-radius: 0.4rem;
  background: rgba(theme-color('danger'), 0.1);

  &.isDraggingOver {
    opacity: 1;
  }
}

.trashMessage {
  margin: 1rem 0.5rem;

  svg {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.4rem;
  }
}
