@import '~utils/modules-entry';

.pageContainer {
  composes: page-container from global;
  max-width: 40rem;

  header {
    text-align: center;

    img {
      display: inline-block;
      max-width: 8rem;
      margin: 0 0.5rem 1rem;
    }

    h1 {
      font-weight: bold;
      font-size: 2rem;
    }

    h2 {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  hr {
    margin-bottom: 4rem;
  }
}

.btnContainer {
  margin-bottom: 1rem;

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-up(sm) {
    margin-right: 1rem;
  }
}

.bigButton {
  svg {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem auto;
  }
}

.attribution {
  margin-top: 4rem;
  font-size: 0.9rem;
  color: var(--gray-light);
}
