@import '~utils/modules-entry';

.pageContainer {
  composes: page-container from global;
  max-width: 40rem;

  header {
    text-align: center;

    img {
      display: inline-block;
      max-width: 6rem;
      margin: 0 0.5rem 1rem;

      &.topImage {
        max-width: 12rem;
      }
    }

    h1 {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 2rem;
    }

    h2 {
      margin-top: 3rem;
      font-weight: bold;
      font-size: 1.9rem;
    }

    h3 {
      font-size: 1.6rem;
    }
  }

  section {
    margin-bottom: 8rem;
  }

  hr {
    margin-bottom: 4rem;
  }
}

.reviewWrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.reviewButton {
  white-space: normal;

  span {
    display: block;
    font-size: 1.5rem;
  }
}

.githubLinks {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));

  h4 {
    margin: 1rem 0 0.5rem;
  }

  :global(.btn) {
    white-space: normal;
  }
}

.betaButton {
  svg {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem auto;
  }
}

.attribution {
  margin-top: 4rem;
  font-size: 0.9rem;
  color: var(--gray-light);
}
