.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: var(--body-bg-70);
}

.overlayContent {
  width: 30rem;
  margin: 2rem auto 0;
  text-align: center;

  h3 {
    padding-bottom: 0.2rem;
    margin: 1rem 0 0.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray-lighter);
  }

  .primaryBtn {
    margin: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;

    :global {
      animation: pulse 1.5s infinite;
    }
  }
}

.scoreSection {
  display: flex;

  > div {
    flex: 1 1 auto;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.scoreTable {
  margin: 0 auto;

  th {
    text-align: right;
  }

  td {
    text-align: left;
  }
}

.finalScore {
  font-size: 3rem;
}
