@import '~styles/utils/modules-entry';

.noLocation {
  margin-bottom: 2rem;
  text-align: center;
}

.feedbackBtn {
  margin-top: 1rem;

  :global(.btn) {
    margin: 0 0 0 0.4rem;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    :global(.btn) {
      display: block;
      width: 100%;
      margin: 0.3rem 0 0 0;
    }
  }
}

.feedbackTitle {
  font-size: 1.4rem;
  text-align: center;
  color: var(--gray-light);
}

.feedback {
  :global(.btn) {
    display: block;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    white-space: normal;

    h3 {
      margin-bottom: 0.4rem;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &:hover {
      svg {
        color: theme-color();
      }
    }
  }

  svg {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    transition: color 0.3s;
  }
}
