.colorBar {
  width: 6rem;
  height: 0.25rem;
  margin: -0.25rem 0 0rem;
  border-radius: 999px;
  background: var(--color);
}

.tabber {
  :global(.btn-group) {
    // Make the btn-group children fill up all available space
    display: flex;
    margin-bottom: 1rem;

    :global(.btn) {
      flex: 1 0 0;
      padding: 0.4rem 0 0.3rem;
      margin-right: 0.25rem;
      border-width: 0 0 0.25rem;
      border-radius: 0;
      border-color: var(--color);

      &:last-child {
        margin-right: 0;
      }
    }

    :global(.btn-primary) {
      background-color: var(--color);
    }
    :global(.btn-outline-primary) {
      color: var(--color);
    }
    :global(.btn-primary):hover,
    :global(.btn-outline-primary):hover {
      background-color: var(--color);
      color: var(--body-bg);
    }
    :global(.btn-primary):active,
    :global(.btn-outline-primary):active {
      background-color: var(--color);
      color: var(--body-bg);
      border-color: var(--color);
    }
    :global(.btn-primary):focus,
    :global(.btn-outline-primary):focus {
      box-shadow: none;
    }
  }
}

ol.stops.collapseToTabber {
  // there are other pages that use the .stops class below
  // and this margin is specifically for this page,
  // so i separated it to another class
  margin-top: -1rem;
}

ol.stops {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.stop {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 0;
  position: relative;
  color: var(--gray);

  &:before {
    position: absolute;
    top: -0.5rem;
    left: 0.875rem;
    width: 0.25rem;
    height: 100%;
    content: '';
    background: var(--color);
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    // opacity: 0.25;
    z-index: 10;
  }

  &.isFirst:before {
    height: 50%;
    top: 50%;
  }

  &.isLast:before {
    height: 50%;
  }

  .stopSymbol {
    width: 1rem;
    height: 1rem;
    margin: 0.375rem 0.5rem 0;
    margin-right: 1rem;
    border-radius: 999px;
    background: var(--color);
    border: 0.2rem solid var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    z-index: 20;
    transition: 0.1s ease;
  }

  &.isTerminal .stopSymbol,
  .stopSymbol.isTerminal {
    border-radius: 0.125rem;
    transform: rotate(45deg);
  }

  &:hover {
    color: var(--gray-dark);

    .stopSymbol {
      // border-color: var(--color);
      // background: var(--color);
      transform: rotate(45deg) scale(1.5);
    }
  }
}

.schedule {
  // border: 1px solid var(--gray-lighter);
  background: var(--gray-lightest);
  border-radius: 0.25rem;
  margin: 0.75rem 0;
  // border-left: 0.25rem solid var(--color);

  overflow: hidden;
  position: relative;

  .scheduleHeader {
    display: flex;
    align-items: center;
    padding: 0.625rem 1rem;

    .scheduleTitle {
      flex: 1;
      font-weight: 700;
      font-size: 1rem;
      margin: 0;
    }

    .scheduleChevron,
    .scheduleChevron svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  .scheduleDetails {
    padding: 0.625rem 1rem;

    tbody {
      font-size: 0.9rem;
    }

    tr {
      display: flex;
      align-items: flex-start;
      color: var(--body-color);

      &:first-child td {
        border: none;
      }
      &.now {
        font-weight: 700;
        color: var(--gray-dark);
      }
    }

    td {
      border-color: var(--gray-lighter);

      &.time {
        width: 3rem;
        text-align: center;
        font-feature-settings: 'tnum';
      }

      &.timeSep {
        width: 1rem;
        text-align: center;
      }

      &.freq {
        flex: 1;
        text-align: right;
        // font-feature-settings: 'tnum';
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        .freqMins {
          width: 1.25rem;
          text-align: center;
        }
        .freqMinsSep {
          width: 0.75rem;
          text-align: center;
        }

        .freqMinsLabel {
          margin-left: 0.25rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}
