@import '~styles/utils/modules-entry.scss';
@import './ServiceDetails.scss';

.fullname {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: -0.5rem;
}

.incomingBusesWrapper {
  overflow: auto;
  margin: 1rem 0 1.5rem;
  ol.incomingBuses {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: none;

    .serviceWithChevron {
      display: flex;
    }

    .chevron {
      width: 1rem;
      height: 1rem;
      margin: 0.5rem 0.25rem;
    }
    .incomingBus {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 0 0 2rem;
      .busNames {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
      }

      &.noChevron {
        margin-left: 0.5rem;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      .service {
        color: white;
        background: var(--color);
        border-radius: 0.25rem;
        font-weight: 700;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        margin-bottom: 0.25rem;
      }

      .arrivingIn {
        font-weight: 400;
        font-size: 0.75rem;

        white-space: nowrap;
      }
    }
  }

  .noIncoming {
    flex: 1 1 0;
    // text-align: center;
    margin-left: 1rem;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.stopService {
  // border: 1px solid var(--gray-lighter);
  background: var(--gray-lightest);
  border-radius: 0.25rem;
  margin: 0.75rem 0;
  // border-left: 0.25rem solid var(--color);

  padding-left: 0.25rem;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: block;
    background: var(--color);
    height: 100%;
    width: 0.25rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .serviceHeader {
    display: flex;
    align-items: center;
    padding: 0.625rem 1rem 0.625rem 1.375rem;

    .serviceName {
      flex: 1;
      font-weight: 700;
      font-size: 1rem;
      margin: 0;
    }

    .serviceNextBus {
      font-weight: 400;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      .serviceEnds {
        font-weight: 700;
      }
    }
    .serviceChevron,
    .serviceChevron svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    .extLink,
    .extLink svg {
      display: flex;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .serviceDetails {
    padding: 0.5rem 0rem;

    ol.stops {
      @extend .stops;
      padding-left: 0rem;
      margin-left: -1.125rem;

      .showMore {
        color: theme-color(primary);
        padding-left: 2.5rem;
        font-size: 0.75rem;
        margin: 0.25rem 0;
        .chevron {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .stop {
      @extend .stop;

      &.isTerminal {
        font-size: 1rem;
      }

      &.passed {
        font-style: italic;
        --color: var(--color2);

        &:before {
          background-color: var(--color2);
          z-index: 11;
        }

        &.isTerminal:before {
          // height: 100%;
        }
      }
      &.minor {
        font-size: 0.8rem;
        padding: 0.25rem 0;

        .stopSymbol {
          width: 0.75rem;
          height: 0.75rem;
          margin: 0.25rem 0.625rem 0;
          margin-right: 1.125rem;
          font-size: 0.75rem;
        }

        &.isTerminal .stopSymbol {
          width: 1rem;
          height: 1rem;
          margin: 0 0.5rem;
          margin-right: 1rem;
        }
      }

      &.immediatePrev {
        &:before {
          height: 170%;
        }

        &.passed.isFirst:before {
          height: 100%;
        }
      }

      &.current {
        font-weight: 700;
      }

      .stopSymbol {
        border-color: var(--gray-lightest);
      }
    }

    .divider {
      margin: 0.75rem 0;
      height: 1px;
      background: var(--gray-lighter);
    }

    .serviceUpcoming {
      display: flex;
      gap: 0.5rem;
      padding: 0.25rem 1rem 0 1.375rem;
      justify-content: space-between;

      .serviceSchedule {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;

        .header {
          // flex: 1 0 2.5rem;
          font-size: 1rem;
          margin: 0 0 0.5rem;
          // margin-right: 0.5rem;
        }

        ol.upcomingBuses {
          list-style: none;
          margin: 0;
          padding: 0;

          .upcomingBus {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            font-variant-numeric: tabular-nums;
            margin-bottom: 0.1rem;

            .plate {
              // have border and padding

              display: block;
              font-size: 0.625rem;
              font-weight: 400;
              color: var(--gray);
              // background: var(--color);
              border: 1px solid var(--gray-lighter);
              border-radius: 0.25rem;
              width: 2rem;
              text-align: center;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    .serviceEndNotice {
      padding: 0.125rem 1rem 0.125rem 1.375rem;
      font-size: 0.8rem;
      // font-weight: 700;
      font-style: italic;
      text-align: center;
    }
  }
}

.publicBus .serviceDetails {
  padding: 0 1rem 0.625rem 1.375rem;
  font-size: 0.75rem;
}
:global(.mode-dark) .stopService .serviceDetails {
  .stop.passed {
    --color: var(--color2--dark);
  }
  .stop.passed:before {
    background-color: var(--color2--dark);
  }
}
