@import '~styles/utils/modules-entry.scss';

@keyframes grow {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.grower {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--primary-foreground);
  animation: grow 1s ease-in-out infinite;
}

.optimizeButtonSection {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.optimizeButton {
  width: fit-content;
  min-height: 2.75rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.95rem;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.optimizeButtonSpinner {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.estimateTime {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--muted-foreground);
  gap: 0.5rem;
}

.estimateTimeValue {
  font-weight: bold;
}

.zapIcon {
  fill: currentColor;
}
