@import '~styles/utils/modules-entry.scss';
@import './OptimiserForm.scss';

.conflictWarning {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: $form-fields-gap;
  border: 1px solid rgba(255, 81, 56, 0.3);
  border-radius: 0.5rem;
  background-color: rgba(255, 81, 56, 0.1);
  gap: 0.5rem;

  h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #ff5138;
    gap: 0.5rem;
  }

  h4 {
    margin: 0;
    font-size: 0.9rem;
    color: #69707a;
  }

  ul {
    margin: 0;

    li {
      margin: 0;
      font-weight: 500;
      font-size: 0.9rem;
      color: #ff5138;
    }
  }

  h5 {
    margin: 0.5rem 0;
    font-style: italic;
    font-size: 0.8rem;
    color: #69707a;
  }
}
