@import '~styles/utils/modules-entry.scss';

.optimiserTooltipIcon {
  composes: svg svg-small from global;
  margin: auto;
  margin-left: 0.5rem;
  color: #69707a;
  cursor: pointer;

  @include media-breakpoint-down(xs) {
    width: 0.8rem;
    margin-top: -0.2rem;
  }
}
