@import '~styles/utils/modules-entry.scss';
@import './OptimiserForm.scss';

.maxConsecutiveHours {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: $form-fields-gap;
}

.maxConsecutiveHoursHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}
