@import '~styles/utils/modules-entry.scss';

.refreshPrompt {
  $margin-offset: 6px;

  display: block;
  margin: 0.5rem (-$margin-offset) 0 ($grid-gutter-width / 2 - $margin-offset);
  font-size: $font-size-s;
  line-height: 1.2;
  text-align: center;
  border: 0;
  background: none;

  :global {
    animation: zoomIn 0.4s;
  }

  :global(.alert) {
    padding: 0.5rem;
  }

  :global(.btn) {
    margin-top: 0.5rem;
  }

  .refreshIcon {
    display: block;
    margin: 0.2rem auto 0.5rem;

    :global {
      animation: spin 2s infinite linear paused;
    }
  }

  &:disabled {
    opacity: 0.7;
  }

  &:not(:disabled):hover {
    cursor: pointer;

    .refreshIcon {
      animation-play-state: running;
    }

    :global(.btn) {
      background: lighten(theme-color(success), 10);
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
