<div class="col-md-6">
  <div class="alert alert-warning">
    <form class="nm-venue-search-form form-group" role="search">
      <p>Retrieve a venue's weekly occupancy timetable and information.</p>
      <label class="control-label" for="venue">Search Venue:</label>
      <input type="hidden" class="form-control" placeholder="e.g. COM1-0114">
    </form>
  </div>
</div>
