extends ./base

block main
  h1 Uh oh...
  p
    | Something went wrong. We've logged the error and will be looking into
    | it.

  if eventId
    script(src='https://cdn.ravenjs.com/3.21.0/raven.min.js' crossorigin='anonymous')
    script.
      Raven.showReportDialog({
        eventId: '#{eventId}',
        dsn: '#{dsn}'
      });
