@import '~styles/utils/modules-entry';

:global(.btn).toggle {
  padding-left: 0;
  text-align: left;

  svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.2rem;
  }
}

.form textarea {
  font-size: 0.9rem;
}

.actions {
  margin-top: 0.6rem;
}

.cancel {
  border: 0;
  color: var(--gray-light);
  background: none;
}

.tip {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  line-height: 1.25;
  color: var(--gray);
}

.orDivider {
  margin: 0.5rem 0 1rem;
  border-bottom: 1px solid var(--gray-light);
  line-height: 0;
  text-align: center;

  span {
    display: inline-block;
    width: 2rem;
    margin-bottom: -1.85rem;
    font-size: 0.9rem;
    line-height: 1;
    background: var(--body-bg);
  }
}
