@import '~styles/utils/modules-entry';

.year {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-lightest);

  &.currentYear {
    border: 1px solid rgba(theme-color(), 0.5);
    background: rgba(theme-color(), 0.1);
  }
}

.yearHeader {
  font-size: 1.2rem;
  text-align: center;
}

.semesters {
  display: flex;
  flex: 1 1 auto;
  margin-right: -0.5rem;
}

.semesterWrapper {
  display: flex;
  flex-direction: column;
}

.semesterHeader {
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.specialSemToggle {
  text-align: right;
}
