@import '~styles/utils/modules-entry';
@import 'variables';

.semester {
  width: $semester-width;
  margin: 0 $column-gutter 2rem 0;
}

.moduleList {
  position: relative;
  min-height: 6rem;
}

.semesterMeta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--gray);

  p {
    margin-bottom: 0;
  }
}

.emptyListMessage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  color: var(--gray-light);
  border: 1px dashed var(--gray-light);
  border-radius: 0.3rem;
}
