@import '~styles/utils/modules-entry';

.module {
  display: flex;
  align-items: flex-start;
  padding: 0.4rem 0.7rem;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  line-height: 1.3;
  color: darken(theme-color('success'), 30);
  border-bottom: 0.25rem solid darken(theme-color('success'), 10);
  border-radius: 0.35rem;
  background: lighten(theme-color('success'), 3);

  &.warning {
    color: darken(theme-color('warning'), 40);
    border-color: darken(theme-color('warning'), 10);
    background: theme-color('warning');

    .menuBtn {
      :global(.close) {
        color: #000;
      }
    }
  }

  &.isDragging {
  }

  .menuBtn {
    position: relative;
    margin: -0.3rem -0.3rem 0 0;

    :global(.close) {
      color: #fff;
    }
  }

  .warningIcon {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.5rem;
  }

  .moduleMeta {
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    font-size: 0.8rem;
  }
}

.moduleInfo {
  flex: 1 1 auto;
}

.moduleName {
  margin-bottom: 0.4rem;

  a {
    display: block;
    color: inherit;
  }
}

.prereqs {
  text-align: left;

  p,
  ul {
    margin: 0 0 0.2rem;
  }
}
