@import '~styles/utils/modules-entry';

.semester {
  width: 12.5rem;
  margin: 0 0.5rem 2rem 0;
}

.semesterHeader {
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.moduleList {
  position: relative;
  min-height: 6rem;
}

.semesterMeta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--gray);
}

.emptyListMessage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  color: var(--gray-light);
  border: 1px dashed var(--gray-light);
  border-radius: 0.3rem;
}
