.day {
  margin-bottom: 2rem;

  h3 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--gray-light);
  }
}

.lessonTime {
}

.lessonTime::after {
}

.lesson {
  display: flex;
  margin-bottom: 0.5rem;

  h4 {
    font-size: 1.4rem;
  }

  .moduleStripe {
    margin-right: 0.5rem;
    border-right: 0.5rem solid;
  }
}
