@import '~styles/utils/modules-entry';

.day {
  margin-bottom: 4rem;

  h3 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--gray-light);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-light);

  h2 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .weather {
    width: 4rem;

    svg path {
      fill: currentColor;
    }
  }
}

.date {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--gray-light);
}

.inBetweenClass {
  border: 1px solid var(--gray-lighter);
  box-shadow: 0 0.2rem 0.25rem rgba(#000, 0.2);

  p {
    margin-bottom: 0.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
