.modules-page-container {
  max-width: 75rem;
  margin-left: 0;
  animation-name: $page-entering-animation;
}

.modules-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .modules-item {
    margin-bottom: 3rem;
  }

  .modules-title {
    margin-top: 0.15rem; // align baseline with semester switcher
    font-size: $font-size-lg;
  }

  mark {
    border-bottom: 1px solid;
  }
}

.module-page-divider {
  width: 100%;
  padding: 0.6rem;
  margin: 1rem 0;
  border-bottom: 1px solid var(--gray-lighter);
  font-size: $font-size-sm;
  text-align: right;
  color: var(--gray);
}

// Semester Info
.module-semester-container {
  margin-bottom: 1rem;

  section {
    margin-bottom: 1rem;
  }

  .btn-group {
    // Make the btn-group children fill up all available space
    display: flex;
    margin-bottom: 1rem;

    .btn {
      flex: 1 auto;
      padding: 0.4rem 0 0.3rem;
      margin-right: 3px;
      border-width: 0 0 0.1rem;
      border-radius: 0;
      font-size: $font-size-xs;

      &:last-child {
        margin-right: 0;
      }

      &:disabled {
        border-color: var(--gray-light);
        color: var(--gray);
        cursor: not-allowed;
      }
    }
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: $font-size-sm;
  }

  .module-exam p {
    margin-bottom: 0;
  }

  .module-timeslots {
    .module-timeslot-time {
      line-height: 2;
    }

    td {
      height: 1.8rem;
    }

    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      // Timeslot has both lecture and tutorial - we create a split cell effect
      // with a skew to show that it is on the same day (if the edge is straight
      // it may look like the edge of a cell)
      &.workload-lecture-bg + .workload-tutorial-bg {
        transform: skewX(-45deg) translateX(50%);
      }
    }
  }

  // Add a little space above the
  @include media-breakpoint-only(md) {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// Workload
.module-workload-container {
  margin-bottom: 1rem;

  h4 {
    font-weight: bold;
    font-size: $font-size-sm;
  }
}
