@import "~styles/utils/modules-entry";

.wrapper {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  color: $body-color;
  border: 1px solid theme-color();
  border-radius: 0.3rem;
  background: $body-bg;

  @include media-breakpoint-down(sm) {
    margin: 1rem ($grid-gutter-width / 2) 0;

    br {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: $cors-notification-z-index;
    border-width: 0.1rem;
    box-shadow: 0 3px 12px rgba(#000, 0.3);

    :global {
      // Delay the animation a bit so that the user will not be distracted
      // by the page loading
      animation: bounceInUp 1.5s 0.7s backwards;
    }
  }
}
