@import "~styles/utils/modules-entry";

.wrapper {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  color: var(--body-color);
  border: 1px solid theme-color();
  border-radius: 0.3rem;
  background: var(--body-bg);

  @include media-breakpoint-down(sm) {
    margin: 0.5rem ($grid-gutter-width / 2);

    br {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: $cors-notification-z-index;
    box-shadow: 0 3px 12px rgba(#000, 0.3);

    :global {
      // Delay the animation a bit so that the user will not be distracted
      // by the page loading
      animation: bounceInUp 1.5s 0.7s backwards;
    }
  }
}
