@import '../../../../styles/utils/modules-entry';

.announcement {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  line-height: 1.3;

  h3 {
    margin-bottom: 0.2rem;
    font-weight: $font-weight-bold;
    font-size: 1.1rem;
  }

  .body {
    a:hover {
      text-decoration: underline;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .actions {
    margin-top: 0.5rem;
  }
}

.buttons {
  display: flex;
  flex: 0 0;
  align-items: center;
}

.closeButton {
  align-self: stretch;
  margin-left: 1rem;
}

.backgroundIcon {
  position: absolute;
  top: -1rem;
  left: -1rem;
  opacity: 0.1;
  width: 8rem;
  height: 8rem;
  pointer-events: none;
}
