@import '../../../styles/bootstrap/variable-overrides.scss';

$timetable-border: 1px solid $gray-lighter;

$timetable-day-horizontal-size: 3.5rem;
$timetable-day-vertical-size: 2.5rem;

$timetable-row-height: 3.5rem;
$timetable-col-width: 4rem;
