@import './_variables.scss';

$timetable-min-width: $timetable-row-height * 16;

.container {
  min-width: $timetable-min-width;
}

:global(.verticalMode) .container {
  display: flex;
  min-width: 0; // Edge fallback
  min-width: fit-content;
}

.days {
  padding: 0 2vw 0 0;
  margin: 0;
  list-style: none;
}

:global(.verticalMode) .days {
  display: flex;
  flex: 1 0 auto;
}
