@import './_variables.scss';

.timetableRow {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
  min-width: $timetable-col-width;
  margin-bottom: 1px;

  &:empty {
    // Special case for iPhone 5 users
    min-width: 0;

    @media (min-width: 321px) {
      min-width: $timetable-col-width * 0.8;
    }
  }
}

:global(.verticalMode) .timetableRow {
  min-width: 4.8rem;
  height: auto;
  margin: 0 1px 0 0;

  &:empty {
    min-width: 4rem;
  }
}
