@import './_variables.scss';

.actionButton {
  cursor: pointer;
}

.actionIcon {
  $size: 1rem;

  display: block;
  width: $size;
  height: $size;
}

.verticalMode {
  transform: rotate(180deg);
}

.horizontalMode {
  transform: rotate(-90deg);
}
