@import './_variables.scss';

.day {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  min-height: $timetable-row-height;
  border: $timetable-border;
  border-width: 0 1px 1px 0;

  &:first-child {
    border-top: $timetable-border;
  }
}

:global(.verticalMode) .day {
  flex-direction: column;
  border: $timetable-border;
  border-left: 0;

  &:first-child {
    border-left: $timetable-border;
  }
}

.dayName {
  position: sticky;
  left: 0;
  z-index: $timetable-day-z-index;
  display: flex;
  flex: 0 0 $timetable-day-h-size;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: $font-size-s;
  text-transform: uppercase;
  border: $timetable-border;
  border-width: 0 1px;
  background: $body-bg;

  @include media-breakpoint-down(sm) {
    flex: 0 0 $timetable-day-h-size-sm;
    overflow: hidden;

    .dayNameText {
      width: 80%;
      font-size: $font-size-xs;
      // On small screens, display the day names vertically
      text-orientation: upright;
      writing-mode: vertical-lr;

      @supports not (text-orientation: upright) {
        width: 0.4rem;
        line-height: 1.1;
        word-break: break-all;
      }
    }
  }
}

:global(.verticalMode) .dayName {
  flex: 0 0 $timetable-day-v-size;
  border: 0;

  .dayNameText {
    width: auto;
    writing-mode: horizontal-tb;
  }
}

.dayRows {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: $timetable-row-height;
  padding-bottom: 0.3rem;
  background: linear-gradient(to right, $gray-lightest 50%, transparent 50%);
}

:global(.verticalMode) .dayRows {
  flex-direction: row;
  padding: 0 0.1rem 0 0;
  background: linear-gradient(to bottom, $gray-lightest 50%, transparent 50%);
}
