@import './_variables.scss';

.modulesTable {
  font-size: 0.9rem;
}

.modulesTableRow {
  margin-bottom: 0.7rem;
}

.modulesTableRowInner {
  position: relative;
}

.moduleColor {
  $size: 20px;

  width: $size;
  height: $size;
  margin-top: 2px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.moduleDetailsColumn {
  width: 100%;
  vertical-align: top;
}

.moduleActionColumn {
  display: table-cell;
}

.moduleActionButtons {
  float: right;
  margin-left: 0.2rem;

  @include media-breakpoint-up(md) {
    button {
      padding: 0.5rem;
      border: 0;
      border-radius: 0;
    }
  }
}
