@import './_variables.scss';

.actionIcon {
  $size: 1.1rem;

  display: inline-block;
  width: $size;
  height: $size;
  margin: -0.1rem 0.2rem 0 0;
  vertical-align: middle;
}

.verticalMode {
  transform: rotate(180deg);
}

.horizontalMode {
  transform: rotate(-90deg);
}
