@import './_variables.scss';

.container {
  :global {
    animation-name: $page-entering-animation;
  }
}

.timetableWrapper {
  composes: mb-4 from global;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-down(sm) {
    // Maximize the space taken by the timetable by overflowing into the grid gutters
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
  }
}
