@import "~styles/utils/modules-entry.scss";

.lessonTimetable {
  margin-top: 0.5rem;
  overflow: auto;

  @supports (-webkit-overflow-scrolling: touch) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
