.alert {
  display: flex;
}

.warning {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  line-height: 1.3;

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.icon {
  width: 1.3rem;
  margin-right: 0.4rem;
}
