@import "~styles/utils/modules-entry";

.table {
  table-layout: fixed;
  // HACK: -1px is for Blink (Chrome/Chromium), which incorrectly calculates width
  // by including the border-right width on the th below, causing the table to have
  // a width of 100% + 1px and thus overflowing
  width: calc(100% - 1px);

  th {
    font-weight: normal;
    font-size: $font-size-xs;

    &:first-child {
      border-right: 1px solid var(--gray-lighter);
    }

    &.hover {
      color: theme-color();
    }
  }

  thead th {
    border-bottom: 1px solid var(--gray-lighter);
  }

  .time {
    padding-right: 0.2rem;
    text-align: right;
  }

  .day {
    text-align: center;
  }

  td {
    position: relative;
    overflow: hidden;
    padding: 0;
    border: 1px solid var(--body-bg);
  }
}
