.semesterSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.semesterName {
  min-width: 130px;
  margin: 0 0.5rem;
  text-align: center;
}
