<div class="row">
  <div class="col-md-6 col-md-offset-3" id="about">
    <div class="logo-container">
      <img src="/images/08130b56.logo.png" class="img-responsive" alt="NUSMods Logo">
    </div>
    <hr>
    <h3 class="nm-section-heading">A brief history</h3>
    <p>NUS Modifications (NUSMods) was founded in 2012 by <a href="http://benghee.eu/" target="_blank">Beng</a> to provide a better way for students to plan their school timetables. Over time, more features have been added to improve the lives of NUS students. Besides timetable planning, NUSMods also serves to be a complete knowledge bank of NUS modules by providing useful module-related information such as archived CORS bidding statistics and community-driven module reviews and discussions.</p>
    
    <h3 class="nm-section-heading">Goals</h3>
    <p>In the long term, NUSMods strives to enhance the quality of students' lives in school by serving as a one-stop platform that provides useful utility tools and an avenue for students to share their knowledge and experiences.</p>
    <p>As an app built by students for students, NUSMods hopes to encourage fellow students to experiment and create original, community-engaging work that also improves the lives of NUS students. Examples of such initiatives are <a href="http://cloudsync.ivle.nus.edu.sg/">IVLE Cloud Sync</a> and <a href="http://www.corspedia.com" target="_blank">Corspedia</a> (which has been integrated into NUSMods as of July 2014).</p>

    <h3 class="nm-section-heading">Connect with Us!</h3>
    <p>We would love to hear your feedback and suggestions on how to make NUSMods even better. Please let us know them by leaving a comment on our <a href="https://www.facebook.com/NUSMods" target="_blank">Facebook page</a>.</p> 
    <p><em>- NUSMods Team</em></p>
  </div>
</div>
