<div class="row">
  <div class="col-md-6 col-md-offset-3" id="team">
    <h1 class="nm-page-heading">The Team</h1>
    <hr>
    <p>NUSMods is an open source project that relies on the continuous support of its individual contributors and NUS student community. We hope to involve more developers and contributors in making NUSMods even better. Please reach out to us if you are interested in helping!
    <p>These are the members of our core team:</p>
    <br>
    <div class="media">
      <a class="pull-left" href="https://www.github.com/ahbeng" target="_blank">
        <img class="media-object" src="http://www.gravatar.com/avatar/601eddec66c2e48891195af393144c17?s=64" alt="Beng">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Beng (Eu Beng Hee)</h4>
        <p>He's Beng. Nuff' said.</p>
        <p class="nm-social-icons">
          <a href="https://www.facebook.com/benghee" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a href="https://www.twitter.com/ahbengish" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://www.github.com/ahbeng" target="_blank"><i class="fa fa-github fa-lg"></i></a>
          <a href="http://sg.linkedin.com/in/benghee" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
        </p>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="https://www.github.com/yangshun" target="_blank">
        <img class="media-object" src="http://www.gravatar.com/avatar/66eca275a85a6a0c06b0a0f7039b074b?s=64" alt="Tay Yang Shun">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Tay Yang Shun</h4>
        <p>Front-end developer who loves good code, design and typography.</p>
        <p class="nm-social-icons">
          <a href="https://www.facebook.com/yangshun" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a href="https://www.twitter.com/yangshunz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://www.github.com/yangshun" target="_blank"><i class="fa fa-github fa-lg"></i></a>
          <a href="http://sg.linkedin.com/in/yangshun" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
        </p>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="https://www.github.com/ashrayjain" target="_blank">
        <img class="media-object" src="http://www.gravatar.com/avatar/a9b385681eda283b3ef7596a6e3e4b00?s=64" alt="Ashray Jain">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Ashray Jain</h4>
        <p>Full stack developer who loves playing with new technologies.</p>
        <p class="nm-social-icons">
          <a href="https://www.facebook.com/ashray.jain.182" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a href="https://www.github.com/ashrayjain" target="_blank"><i class="fa fa-github fa-lg"></i></a>
          <a href="http://sg.linkedin.com/pub/ashray-jain/68/802/547" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
        </p>
      </div>
    </div>

  </div>
</div>
