@import "~styles/utils/modules-entry.scss";

.moduleFilters {
  h3 {
    margin-bottom: 1rem;
    font-size: $font-size-lg;
    color: var(--gray-light);
  }

  @include media-breakpoint-up(md) {
    max-width: 16rem;
  }

  @include media-breakpoint-down(sm) {
    header {
      padding: 3rem ($grid-gutter-width / 2) 0.6rem;
    }

    h3 {
      margin-bottom: 0;
      color: var(--gray);
    }
  }
}
