@import "~styles/utils/modules-entry.scss";

.searchBox {
  position: sticky;
  top: $navbar-height;
  z-index: $module-finder-search-z-index;
  padding: 0 0 1rem;
  background: linear-gradient(to bottom, var(--body-bg) 3rem, var(--body-bg-transparent));

  @include media-breakpoint-down(sm) {
    top: $navbar-height + $navtab-height;
    padding: 0 0 0.4rem;
    margin: -1rem (-$grid-gutter-width / 2) 0;
    border-top: 1px solid var(--gray-lighter);
    background: linear-gradient(to bottom, var(--body-bg) 2rem, rgba(#000, 0.5) 2rem, rgba(#000, 0));
  }
}
