server {
        server_name www.nusmods.com;
        return 301 $scheme://nusmods.com$request_uri;
}
server {
        listen 80 default_server;
        server_name nusmods.com;
        root /home/{{ user }}/nusmods.com;
        location / {
                try_files $uri /index.html;
                expires -1;
        }
        location /api/ {
                alias /home/{{ user }}/api.nusmods.com/;
                add_header "Access-Control-Allow-Origin" "*";
                autoindex on;
                expires -1;
        }
        location ~ \.php$ {
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param YOURLS_USER {{ yourls_user }};
                fastcgi_param YOURLS_PASS {{ yourls_pass }};
                include fastcgi_params;
        }
}
