server {
        listen 80;
        server_name nusmods.com;
        root {{ project_dir }}/dist;
        location / {
                try_files $uri /index.html;
        }
        location /api/ {
                alias {{ project_dir }}/api/app/api/;
        }
        location ~ \.php$ {
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
        }
}
