<div class="row">
  <div class="col-md-8 col-md-offset-2" id="preferences">
    <h1 class="nm-page-heading">Preferences</h1>
    <hr>
    <form class="form-horizontal" role="form">
      <!-- <div class="form-group">
        <div class="col-sm-4">
          <label for="mod-history" class="control-label">Module History</label>
        </div>
        <div class="col-sm-8">
          <button class="connect-ivle btn btn-primary" type="button">Get from IVLE</button>
          <span class="ivle-status">
            <i id="ivle-status-loading" class="fa fa-refresh fa-spin fa-lg hidden"></i>
            <i id="ivle-status-success" class="fa fa-check-circle fa-lg hidden"></i>
          </span>
          <span class="help-block">Your module history will help us in providing a better, more personalized experience!</span>
        </div>
      </div>
      <hr> -->
      <div class="form-group">
        <div class="col-sm-3">
          <label for="faculty" class="control-label">Faculty</label>
        </div>
        <div class="col-sm-9">
          <select class="form-control" name="faculty" id="faculty" data-pref-type="faculty">
            {{#each faculties}}
              <option value="{{value}}">{{name}}</option>
            {{/each}}
          </select>
          <span class="help-block">CEG Students are to select <span class="highlight">Joint Multi-Disciplinary Program</span> due to the unique nature of their course.</span>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-3">
          <label for="student-radios" class="control-label">New Student</label>
        </div>
        <div class="col-sm-9">
          <div class="radio">
            <label>
              <input type="radio" name="student-radios" id="student-radio-1" value="true" data-pref-type="student" selected>
              Yes
            </label>
            <label>
              <input type="radio" name="student-radios" id="student-radio-2" value="false" data-pref-type="student">
              No
            </label>
          </div>
          <span class="help-block">For certain modules, places are reserved for new students in CORS Bidding Rounds 1 and 2, recognizing that new students do not have as many points as some of the seniors.</span>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-3">
          <label for="mode-radios" class="control-label">Mode</label>
        </div>
        <div class="col-sm-9">
          <div class="radio">
            <label>
              <input type="radio" name="mode-radios" id="light-mode" value="default" data-pref-type="mode">
              Light
            </label>
            <label>
              <input type="radio" name="mode-radios" id="dark-mode" value="slate" data-pref-type="mode">
              Dark
            </label>
          </div>
          <span class="help-block">Both modes are awesome, try them out!</span>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-3">
          <label for="theme-options" class="control-label">Colour Theme</label>
        </div>
        <div class="col-sm-9">
          <div class="theme-colors-sample">
            <span class="color0"></span>
            <span class="color1"></span>
            <span class="color2"></span>
            <span class="color3"></span>
            <span class="color4"></span>
            <span class="color5"></span>
            <span class="color6"></span>
            <span class="color7"></span>
          </div>
          <select class="form-control" name="theme-options" id="theme-options" data-pref-type="theme">
            {{#each themes}}
              <option value="{{value}}">{{name}}</option>
            {{/each}}
          </select>
          <span class="highlight random-theme"><i class="fa fa-random"></i> Random Theme</span>
          <span class="help-block">Choose from these awesome Base 16 colour themes for the modules in your timetable!</span>
          <span class="help-block">Use the <span class="highlight">&#8592;</span> and <span class="highlight">&#8594;</span> arrow keys to switch between themes!</span>
        </div>
      </div>
    </form>
  </div>
</div>
