@import '~styles/utils/modules-entry.scss';

$vert-padding: 0.5rem;
$logo-vert-padding: 0.85rem;

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $navbar-z-index;
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  background: var(--gray-lightest);
}

.brand {
  // Explicit width so the logo will not expand to occupy the entire
  // navbar
  width: 10.5rem;
  padding: $logo-vert-padding 0 $logo-vert-padding $grid-gutter-width/2;

  svg {
    display: block;
    height: 100%;
  }
}

.navRight {
  display: flex;
  align-items: center;
  padding: $vert-padding $grid-gutter-width/2;
}

.weekText {
  padding-left: $grid-gutter-width/2;
  font-size: $font-size-xs;
  line-height: 1.15;
  text-align: right;
}

@include media-breakpoint-up(xl) {
  .brand {
    // Padding to match navtab left padding
    width: 12rem;
    padding-left: 2rem;
  }

  .navRight {
    padding: $vert-padding $grid-gutter-width/2 $vert-padding 2rem;
  }
}

@include media-breakpoint-down(xs) {
  .navRight {
    display: none;
  }

  // Remove padding from navbar so the logo link can occupy
  // the entire navbar as a tappable area
  .navbar {
    padding: 0;
  }

  .brand {
    width: 100%;
    height: 100%;
    padding: $logo-vert-padding 0;
    margin: 0;

    // Center logo on mobile
    svg {
      margin: 0 auto;
    }
  }
}
