@import '~styles/utils/modules-entry.scss';

$vert-padding: 0.5rem;

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $navbar-z-index;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  padding: $vert-padding $grid-gutter-width/2;
  background: var(--gray-lightest);

  @include media-breakpoint-up(xl) {
    padding: $vert-padding $grid-gutter-width/2 $vert-padding 2rem;
  }
}

.brand {
  height: 1.5rem;
  margin-right: 1rem;

  svg {
    display: block;
    height: 100%;
  }
}

.weekText {
  padding-left: $grid-gutter-width/2;
  font-size: $font-size-xs;
  line-height: 1.15;
  text-align: right;
}

@include media-breakpoint-down(xs) {
  .weekText {
    display: none;
  }

  .brand {
    width: 100%;
    height: 100%;
    margin: 0;

    svg {
      margin: 0 auto;
    }
  }
}
