<div class="modal-backdrop" id="overlay"></div>
<div id="loading">
  Loading&hellip;
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
  </div>
  <!--[if lt IE 8]>
  Timetable Builder supports IE8+ but Modules does not support any version of IE. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience NUSMods.
  <![endif]-->
</div>
