<div>{{text}}</div>
{{#if selected}}
<button type="button" class="btn btn-link btn-xs remove" data-code="{{id}}" title="Remove from Timetable">
  <i class="fa fa-minus fa-lg"></i>
{{else}}
<button type="button" class="btn btn-link btn-xs add" data-code="{{id}}" title="Add to Timetable">
  <i class="fa fa-plus fa-lg"></i>
{{/if}}
</button>
