{
  "presets": [
    [
      "env",
      {
        "targets": { "node": "current" },
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "flow",
    "bluebird"
  ],
  "env": {
    "development": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
}
