{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "flow",
    "bluebird"
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ],
}
