html,
body,
#app,
.app-container {
  height: auto !important;
}

body {
  padding-top: 0.2rem !important;
  transition: none !important;
}

:global(.no-export) {
  display: none !important;
}

:global(.verticalMode) {
  max-width: 46rem !important;
}
