// Disables all animations and transitions, since we don't want the screenshot
// to be taken while there's transition happening
* {
  transition: none !important;
  animation: none !important;
}

html,
body,
#app,
.app-container {
  height: auto !important;
}

body {
  padding-top: 0.2rem !important;
}

// Hide all non-exportable UI elements
:global(.no-export) {
  display: none !important;
}
