@import '~styles/utils/modules-entry';

.location {
  @include media-breakpoint-down(sm) {
    margin: 0 $grid-gutter-width / 2;
  }
}

.map {
  height: 30rem;
}

.gmapBtn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 1000;
}

.mapWrapper {
  position: relative;

  &.expanded {
    position: fixed;
    top: $navbar-height;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $venue-map-z-index;
    margin: 0;

    .map {
      height: 100%;
    }

    @include media-breakpoint-down(sm) {
      top: 0;
    }
  }
}
