<div class="nm-apps">
  <div class="row">
    <div class="col-md-12">
      <h1 class="nm-page-heading">Apps</h1>
      <p>A collection of NUS-related apps that may come in handy to you.<p>
      <p>Have an NUS app that you want to add to the list? Head on to our <a href="https://github.com/nusmodifications/nusmods-apps" target="_blank">Apps repository</a> and add it there.</p>
      <hr>
      <div class="nm-news-apps-container"></div>
    </div>
  </div>
</div>
