<div class="nm-apps">
  <div class="row">
    <div class="col-md-12">
      <h1 class="nm-page-heading">Apps</h1>
      <p>A collection of NUS-related apps that may come in handy to you. Have fun!</p>
      <hr>
      <div class="nm-bn-feed-container"></div>
    </div>
  </div>
</div>
