@import '~styles/utils/modules-entry';

.location {
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    margin: 0 $grid-gutter-width / 2;
  }
}

.mapWrapper {
  position: relative;
  margin-bottom: 0.4rem;
}

.map {
  height: 30rem;
}

.gmapBtn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  z-index: 1000;
}
