@import "~styles/utils/modules-entry.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  clear: both;
  margin-bottom: 1.4rem;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }

  :global(.btn) {
    white-space: normal;
  }
}

.timetable {
  composes: scrollable from global;
}
