@import "~styles/utils/modules-entry.scss";

.pageContainer {
  $gutter: $grid-gutter-width / 2;
  $sticky-top: $navbar-height + 1rem;

  display: flex;
  align-items: flex-start;

  :global {
    animation-name: $page-entering-animation;
  }

  .venuesList {
    flex: 1 auto;
  }

  @include media-breakpoint-up(md) {
    .venuesList {
      flex: 0 0 16rem;
      margin-right: $gutter;
    }

    .venueDetail {
      position: sticky;
      top: $sticky-top;
      bottom: 0;
      flex: 1 1 auto;
      max-height: calc(100vh - #{$sticky-top});
      padding-right: $gutter;
      margin-right: -$gutter;
      overflow: auto;
    }
  }

  @include media-breakpoint-up(xl) {
    .venuesList {
      flex: 1 1 auto;
    }

    .venueDetail {
      flex: 0 0 60rem;
    }
  }
}

.venueSearch {
  margin-bottom: 1rem;

  h3 {
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
  }
}

.searchBox {
  margin-bottom: 1rem;

  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid var(--gray-light);
  }
}

.availabilitySearch {
  padding: 0 1rem 1rem;
  border: 1px solid theme-color();
  border-width: 0 1px 1px;
  border-radius: 0 0 $border-radius $border-radius;
}
