@import '~styles/utils/modules-entry.scss';

/*
  For breakpoint-md (tablets), show the links as compact buttons with labels below icons.
  For breakpoint-lg (desktop), show the links as traditional link with icon to the left.
*/
.nav {
  position: fixed;
  top: $navbar-height;
  right: 0;
  left: 0;
  z-index: $navtabs-z-index;
  // See site.scss for width on md and lg sizes
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  height: $navtab-height;
  background-color: var(--body-bg);

  @include media-breakpoint-up(md) {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0.5rem;
    box-shadow: none;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 1rem;
  }

  @include media-breakpoint-down(sm) {
    position: sticky;
    top: 0;

    // Fake shadow - can't use box shadow because they will appear on top of the
    // top nav bar
    &::after {
      $shadow-height: 1rem;

      content: '';
      position: absolute;
      right: 0;
      bottom: -$shadow-height;
      left: 0;
      height: $shadow-height;
      background: linear-gradient(to bottom, rgba(#000, 0.1), rgba(#000, 0));
      pointer-events: none;
    }
  }
}

.link {
  flex: 1 0 auto;
  line-height: 1;
  text-align: center;
  color: var(--gray-light);
  transition: color 0.15s;

  &.linkActive {
    color: theme-color(primary);
  }

  &:hover .title {
    text-decoration: underline;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-bottom: 0.1rem;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 1rem 0.5rem;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    padding: 0.8rem 0 0.8rem 2rem;
    text-align: left;
  }
}

.title {
  display: none;
  font-size: 0.7rem;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 0.4rem;
    font-size: 1rem;
  }
}
