@import "~utils/modules-entry";

.heading {
  margin: 3rem 0;
}

.appIcon {
  max-width: 256px;
  margin: 0 auto 1rem;

  @include media-breakpoint-down(xs) {
    display: block;
    width: 128px;
  }
}

.appEntry {
  width: 100%;
  margin: 2rem 0;

  @include media-breakpoint-down(xs) {
    margin: 3rem 0;
    text-align: center;
  }
}
