:8080 {
  push
  root /srv/dist
  browse
  rewrite {
    to /new/{path} /new/{path}/ /new/ /old/{path} /old/{path}/ /old/
  }
}

:8081 {
  push
  root /srv/dist-timetable
  rewrite {
    to {path} {path}/ /
  }
}
