.nm-navbar {
  $vert-padding: 0.5rem;
  $form-width: 26rem;

  align-items: center;
  background: $gray-lightest;
  display: flex;
  flex-direction: row;
  min-height: $navbar-height;
  padding: $vert-padding 1rem;

  @include media-breakpoint-up(md) {
    padding: $vert-padding 2rem;
  }

  .nm-navbar-brand {
    $image-height: 130;
    $image-width: 789;
    $unit: 0.01rem;

    background-image: url('../img/nusmods-logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: $image-height * $unit;
    margin-right: 1rem;
    width: $image-width * $unit;
  }

  .nm-navbar-logo {
    align-items: center;
    display: flex;
    height: 1rem;
  }

  .nm-navbar-form {
    display: inline-block;
    flex: 0 1 $form-width;
  }

  .nm-navbar-text {
    flex: 1 1 auto;
    text-align: right;
  }

  @include media-breakpoint-down('xs') {
    .nm-navbar-text,
    .nm-navbar-form {
      display: none;
    }
  }
}

.nm-nav-tabs {
  display: flex;
  flex-direction: column;
  padding: 0;

  .nav-link {
    color: $gray-light;
    display: block;
    padding: 0.7rem;

    &.active {
      color: theme-color('primary');
    }
  }

  .nm-nav-item {
    list-style: none;
  }

  @include media-breakpoint-down(sm) {
    background-color: #fff;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
    flex-direction: row;
    height: $navbar-height;
    left: 0;
    position: fixed;
    top: $navbar-height;
    width: 100%;
    z-index: 1;

    .nm-nav-item {
      flex-grow: 1;
    }

    .nav-link {
      display: block;
      padding: 1rem 0;
      text-align: center;
    }

    .nm-link-title {
      display: none;
    }
  }
}
