// This file contains the styles for the overall site
html,
body,
#app,
.app-container {
  height: 100%;
}

body {
  padding-top: 4rem;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
    padding-top: $navbar-height * 2;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  $side-nav-width-md: 4rem;
  $side-nav-width-lg: 10rem;

  flex: 1 auto;

  @include media-breakpoint-down(sm) {
    .main-content {
      padding-top: 1rem;
    }
  }

  @include media-breakpoint-up(md) {
    > nav {
      width: calc(#{$side-nav-width-md} + #{($grid-gutter-width / 2)});
    }

    .main-content {
      padding-left: $side-nav-width-md;
    }
  }

  @include media-breakpoint-up(lg) {
    > nav {
      width: $side-nav-width-lg;
    }

    .main-content {
      padding-left: $side-nav-width-lg;
    }
  }
}

.page-container {
  animation-duration: $page-entering-duration;

  @extend .container-fluid;
}

.page-title {
  font-size: $font-size-xlg;
  margin: 2rem 0 4rem;
}

// Recreate Bootstrap v3 offsets
@include media-breakpoint-up('md') {
  .offset-md-1 {
    margin-left: percentage(1 / $grid-columns);
  }
}

@include media-breakpoint-up('sm') {
  .offset-sm-1 {
    margin-left: percentage(1 / $grid-columns);
  }
}
