// Source: https://reactjs.org/docs/concurrent-mode-patterns.html#delaying-a-pending-indicator
.deferred {
  visibility: hidden;
  animation: 0s linear 0.2s forwards makeVisible;

  @keyframes makeVisible {
    to {
      visibility: visible;
    }
  }
}
