@import '~styles/utils/modules-entry';
@import '../variables';

.pageContainer {
  composes: page-container from global;
  height: 100%;

  :global {
    animation-name: $page-entering-animation;
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;

  .headerLeft {
    display: flex;
    flex: 1;
    align-items: center;

    h1 {
      margin: 0.1rem 0;
      font-size: $font-size-xlg;
    }

    button {
      margin-left: 1rem;
    }
  }

  p {
    margin: 0;
  }

  .headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .moduleStats {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;

    p {
      white-space: nowrap;
    }
  }

  @include scrollable;
}

.addYearButton {
  flex: 0 0 4rem;
  font-size: 0.9rem;
  white-space: normal;
}

.addPrevYear {
  margin-right: $column-gutter;
}

.yearWrapper {
  display: flex;
  height: 100%;
  margin: 1rem 0 2rem;

  @include scrollable;
}

.moduleLists {
  display: flex;
  width: 100%;

  @include scrollable;
}

.modListHeaders {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
}

.trash {
  opacity: 0.6;
  width: $semester-width;
  min-width: $semester-width;
  border: 1px dashed;
  border-radius: 0.4rem;
  text-align: center;
  color: theme-color('danger');
  background: rgba(theme-color('danger'), 0.1);

  &.isDraggingOver {
    opacity: 1;
  }

  @include night-mode {
    opacity: 0.75;
    color: lighten(theme-color('danger'), 20);
    background: rgba(lighten(theme-color('danger'), 20), 0.2);
  }
}

.trashMessage {
  margin: 1rem 0.5rem;

  svg {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.4rem;
  }
}
