@import '~styles/utils/modules-entry';

.paginationList {
  align-items: center;
}

.svg {
  display: block;
  width: 1.1rem;
}

.mobilePages {
  margin: 0 1em;
  font-weight: bold;
  text-align: center;
  color: $primary;
  user-select: none;
}
