@import "~styles/utils/modules-entry";

$header-margin-top: 1rem;
$animation-duration: 0.3s;
$offset-top: $navbar-height + 1rem;

// Side menu styles
//  - md and above, display as sticky side menu
//  - sm and below, display as FAB + menu drawer appearing from below

.fab {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $side-menu-overlay-z-index;
  background: var(--body-bg-40);

  :global {
    animation: fadeIn $animation-duration;
  }
}

.boundaryContainer {
  position: sticky;
  top: $offset-top;
  display: flex;
  pointer-events: none;
}

.sideMenu {
  composes: scrollable from global;
  max-height: calc(100vh - #{$offset-top});
  pointer-events: auto;
  overscroll-behavior: contain;
}

@include media-breakpoint-down(sm) {
  .fab {
    display: block;
  }

  .boundaryContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $side-menu-z-index;
    flex-direction: column-reverse; // Menu should stick to bottom of screen
    width: 100%;
  }

  .sideMenu {
    width: 100%;
    padding: 1rem 0 3rem;
    background: var(--body-bg);
    box-shadow: 0 -10px 20px var(--navtab-shadow);

    // Entry/exit animation
    transform: translateY(100%);
    transition: transform $animation-duration;
    &.isOpen {
      transform: translateY(0);
    }
  }
}
