@import "~styles/utils/modules-entry";

$header-margin-top: 1rem;
$animation-duration: 0.3s;

// Side menu styles
//  - md and above, display as sticky side menu
//  - sm and below, display as FAB + menu drawer appearing from below
.fab {
  display: none;
}

.sideMenu {
  $offset-top: $navbar-height + 1rem;

  composes: scrollable from global;
  position: sticky;
  top: $offset-top;
  height: calc(100vh - #{$offset-top});
  overscroll-behavior: contain; // stylelint-disable-line property-no-unknown
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $side-menu-overlay-z-index;
  background: var(--body-bg-40);

  :global {
    animation: fadeIn $animation-duration;
  }
}

@include media-breakpoint-down(sm) {
  .fab {
    display: block;
  }

  .sideMenu {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: $side-menu-z-index;
    width: 100%;
    padding: 1rem 0 3rem;
    background: var(--body-bg);
    box-shadow: 0 -10px 20px var(--navtab-shadow);
    transform: translateY(100%);
    transition: transform $animation-duration;

    &.isOpen {
      transform: translateY(0);
    }
  }
}
