$background-color: #f6f6f6;
$height: 4.6rem;
$width: 8rem;
$padding: 0.3rem;
$arrow-width: 1rem;
$arrow-height: 1.5rem;

:global {
  .color-picker-container {
    position: relative;
    float: left;

    .color-picker {
      position: absolute;
      z-index: 1;
      width: $width;
      height: $height;
      padding: $padding;
      margin-top: $arrow-height;
      margin-left: -$width/2 + $arrow-width/2 + 0.15rem;
      border-radius: 5px;
      background: $background-color;
      box-shadow: 0 13px 13px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      // arrowtip
      &::before {
        content: '';
        position: absolute;
        top: -$arrow-height;
        left: $width/2 - $arrow-width;
        height: $arrow-height;
        border: $arrow-width solid darken($background-color, 5%);
        border-top-width: 0;
        border-right-color: transparent;
        border-left-color: transparent;
      }

      @media (max-width: 768px) {
        left: 3.2rem;

        &::before {
          left: 0;
        }
      }
    }

    .color-option {
      display: inline-block;
      width: 25%;
      padding: 5px;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}
