<div class="panel-heading" data-toggle="collapse" data-target="#nm-facet-{{slug}}">
  <h4 class="panel-title">
    {{label}}
  </h4>
</div>
<div id="nm-facet-{{slug}}" class="panel-collapse collapse nm-module-filter">
  <ul></ul>
</div>
