<div class="panel-heading" data-toggle="collapse" data-target="#nm-facet-{{slug}}">
  <h4 class="panel-title">
    {{label}}
    <span class="js-caret-container">
      <span class="caret"></span>
    </span>
  </h4>
</div>
<div id="nm-facet-{{slug}}" class="panel-collapse collapse nm-module-filter">
  <ul></ul>
</div>
