<h4 class="nm-section-heading" data-toggle="collapse" data-target="#nm-facet-{{slug}}">
  {{label}} &nbsp;<i class="fa fa-caret-right nm-caret"></i> 
</h4>
<ul id="nm-facet-{{slug}}" class="collapse nm-module-filter"></ul>

