<div class="panel-heading" data-toggle="collapse" data-parent="#js-nm-facets" data-target="#{{slug}}">
  <h4 class="panel-title">
    {{label}}
  </h4>
</div>
<div id="{{slug}}" class="panel-collapse collapse nm-module-filter">
  <ul></ul>
</div>
