<div class="row">
  <div class="col-sm-3" id="sidebar">
    <form class="facet-Department form-inline">
      <label>Faculty / Department</label>
    </form>
  </div>
  <div class="col-sm-9" id="content">
    <form class="facet-Types form-inline">
      <label>Type</label>
    </form>
    <form class="facet-ModuleCredit form-inline">
      <label>MC</label>
    </form>
    <form class="facet-level form-inline">
      <label>Level</label>
    </form>
    <div class="modules"></div>
  </div>
  <a href="#" id="sidebar-toggle"><i class="fa fa-chevron-left"></i></a>
  <button id="back-to-top" class="btn btn-primary">
    <i class="fa fa-arrow-circle-up"></i>Top
  </button>
</div>
