<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="pull-right js-nm-clear-filters">Clear Filters</a>
        <h2 class="panel-title nm-section-title">Search Options</h2>
      </div>
      <div class="panel-body" id="sidebar"></div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="nm-module-filter-meta"></div>
    <div id="content"></div>
  </div>

  <button id="back-to-top" class="btn btn-primary">
    <i class="fa fa-arrow-circle-up"></i>Top
  </button>
</div>
