@import '~styles/utils/modules-entry';

.noLocation {
  text-align: center;
}

.location {
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    margin: 0 $grid-gutter-width / 2;
  }
}

.map {
  height: 30rem;
}

.gmapBtn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 1000;
}

.mapWrapper {
  position: relative;
  margin-bottom: 1rem;

  &.expanded {
    position: fixed !important;
    top: 0;
    left: 160px;
    z-index: 99;
    width: 90vw;
    height: 100vh;

    .map {
      width: 100%;
      height: 100%;
    }

    .gmapBtn {
      top: 3.5rem;
      right: 3.2rem;
    }
  }
}

.expandMap {
  position: absolute;
  top: 0.4rem;
  right: 11rem;
  z-index: 999;
}

.closeMap {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  z-index: 999;
  float: none;
}

.hidden {
  display: none;
}

/* adjust the top offset of the leaflet-control-container */
.adjustTopOffset {
  position: absolute;
  top: 60px;
}

.feedbackBtn {
  :global(.btn) {
    margin: 0 0 0 0.4rem;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    :global(.btn) {
      display: block;
      width: 100%;
      margin: 0.3rem 0 0 0;
    }
  }
}

.feedbackTitle {
  font-size: 1.4rem;
  text-align: center;
  color: var(--gray-light);
}

.feedback {
  :global(.btn) {
    display: block;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    white-space: normal;

    h3 {
      margin-bottom: 0.4rem;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &:hover {
      svg {
        color: theme-color();
      }
    }
  }

  svg {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    transition: color 0.3s;
  }
}
