@import '~styles/utils/modules-entry';

.moduleRandomButton {
  composes: btn btn-primary btn-svg from global;
  flex-grow: 1;
  margin-bottom: 2rem;
  
  @include media-breakpoint-down(md) {
    margin: 0 1rem;
  }
}
