@import '~styles/utils/modules-entry';

.moduleFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem;
  user-select: none;
  gap: 0.25rem;

  .filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    line-height: 1.3;

    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 1rem;
      color: var(--foreground);
    }

    :global(.ui-button) {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0.5rem;
    }
  }

  @include media-breakpoint-up(md) {
    max-width: none;
  }

  @include media-breakpoint-down(sm) {
    // Avoid overlapping with the FAB
    padding-bottom: 4rem;

    .filterHeader {
      padding: $navtab-height 0 0.6rem;

      h3 {
        margin-bottom: 0;
        color: var(--gray);
      }
    }
  }
}
