@import '~styles/utils/modules-entry';

.modulesItem {
  overflow-wrap: break-word;
  margin-bottom: 3rem;

  .modulesTitle {
    margin-top: 0.15rem; // align baseline with semester switcher
    font-size: $font-size-lg;
  }

  .notOffered {
    display: flex;
    align-items: center;
    line-height: 1.3;

    .archiveIcon {
      flex: 0 0 1.4rem;
      margin-right: 0.8rem;
    }

    p {
      margin-bottom: 0;
    }
  }
}
