.button {
  display: flex;

  .icon {
    margin-right: 0.3em;
  }
}

.enhanceButton {
  justify-content: center;
  padding: 0.5em 0;
}

.infoText {
  padding-top: 0.5em;
  font-style: italic;
  font-size: 0.9em;
}

.heading {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.footer {
  margin-bottom: 1rem;
}
