@import '~styles/utils/modules-entry';

.day {
  margin-bottom: 4rem;

  h3 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--gray-light);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-light);

  h2 {
    display: flex;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .date,
  .to {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--gray-light);
  }

  .to {
    align-self: center;
    margin: 0 0.9rem;
  }

  .weather {
    width: 4rem;

    svg path {
      fill: currentColor;
    }
  }

  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 1.6rem;
    }

    .date {
      font-size: 0.7rem;
    }

    .to {
      margin: 0 0.5rem;
    }

    .weather {
      width: 3rem;
    }
  }
}

.nowMarker {
  font-weight: bold;
  color: theme-color('danger');

  &::after {
    content: '•';
    position: absolute;
    margin-left: 0.2rem;
  }
}

.emptyGroup {
  img {
    display: block;
    max-width: 8rem;
    margin: 2rem auto 1rem;
  }

  p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
}

.attribution {
  font-size: 0.9rem;
  text-align: right;
  color: var(--gray-light);
}
