@import '~styles/utils/modules-entry.scss';

.container {
  composes: page-container from global;
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    margin-left: 2rem;
  }
}

.header {
  margin-bottom: 1.5rem;
}

.expr {
  composes: text-primary from global;
  display: block;
}

.subheader {
  composes: font-weight-bold from global;
  margin-bottom: 0;
}

.link {
  composes: btn-link from global;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}
